In [118]:
# Aggregrating the soil dataset for regional analysis
import numpy as np
import pandas as pd
import os

In [119]:
def read_files(directory):
    file_list = os.listdir(directory)
    dataframes = {}

    for idx, file in enumerate(file_list):
        if file.endswith('.csv') or file.endswith('.xlsx') or file.endswith('.xls'):
            file_path = os.path.join(directory, file)
            df_name = 'df{}'.format(idx)
            if file.endswith('.csv'):
                df = pd.read_csv(file_path, encoding='utf-8')
            else:
                df = pd.read_excel(file_path)
            dataframes[df_name] = df

    return dataframes

# Specify the directory containing the CSV and Excel files
directory = r'C:\Users\chimi\Desktop\Python Data Science Projects\Cocoa Production\Farmers Survey'

# Call the function to read the files
dataframes = read_files(directory)

# Access the individual DataFrames using their respective variable names
for df_name, df in dataframes.items():
    exec('{} = df'.format(df_name))
    print(df_name)
    print(df.head())
    print()

df1
  Unnamed: 0 Site  Type      Cover  Shade_Tree.Density Mean_shadetree_DBH  \
0      Units  NaN   NaN        (%)  (shade trees ha-1)               (cm)
1        NaN    G  Agro  14.033333               22.22               34.5
2        NaN    G  Mono          0                   0                  0
3        NaN    B  Agro   15.00961               22.22              52.65
4        NaN    B  Mono          0                   0                  0

        Cocoa_density    Cocoa_Yield Cocoa_Yield_Tree Cocoa_DBH  ...  \
0  (cocoa trees ha-1)  (kg ha-1 y-1)  (kg tree-1 y-1)      (cm)  ...
1             1144.33     526.053045         0.459704    12.296  ...
2                1111     409.592329          0.36867    12.568  ...
3             1177.66     682.929168         0.579904     11.41  ...
4               999.9     636.501268         0.636565    13.498  ...

  Soil.moisture.Aug.2015 Soil.moisture.Feb.2016 Light_Sep.2016 Light_Feb.2016  \
0                    (%)                    (%)            (%)            (%)
1                  28.63                  17.17      75.875659      89.712506
2                  25.41                  13.79            100            100
3                  17.01                   5.08      78.196063      73.795632
4                  17.14                   6.75            100            100

  ABG_Carbon_stocks  Litter_Biomass     Tree.richness     Bird.richness  \
0        (t_C_ha-1 )        (kg_m2)  (Nr. of species)  (Nr. of species)
1          13.384868           0.86                 4                10
2           9.272884           1.13                 1                 3
3          16.846159           0.98                 3               NaN
4           9.668099           1.27                 1               NaN

       Ant.richness     Frog.richness
0  (Nr. of species)  (Nr. of species)
1                 9                 2
2                 5                 2
3               NaN               NaN
4               NaN               NaN

[5 rows x 51 columns]

df2
  location farmer.id Gender  Farmer age  Household size  Training.days.yr  \
0      Dry     AFR01      F          72               8                 0
1      Dry     AFR02      F          69               3                 2
2      Dry     AFR03      M          70              14                10
3      Dry     AFR04      M          66               5                 8
4      Dry     AFR05      M          56               7                24

   Labour.cost.ha  Cocoa income  Non-cocoa income  \
0      108.928571             6                 4
1        0.000000             3                 7
2       50.000000             7                 2
3      123.333333             8                 2
4        0.000000             5                 4

   insecticide.applied.ltrs.ha  ...  % Base Sat.  % SAND  %  CLAY  %   SILT  \
0                     1.428571  ...    99.582141   49.35     8.04     42.61
1                     7.500000  ...    97.453311   74.66     6.02     19.32
2                     7.500000  ...    99.157758   57.33     8.02     34.65
3                     0.833333  ...    99.213622   59.67    14.06     26.27
4                     1.666667  ...    99.587288   63.67    20.10     16.23

   yield.class  yield.kg.ha.yr  yatt          yg       yg.%       yg%2
0           Fy      210.591383   645  434.408617  32.649827  67.350173
1           Fy      117.302740   645  527.697260  18.186471  81.813529
2           Fy      182.600219   645  462.399781  28.310112  71.689888
3         Fatt      541.666667   645  103.333333  83.979328  16.020672
4           Fy      339.865251   645  305.134749  52.692287  47.307713

[5 rows x 47 columns]

df3
   ObsFarm#  FID0     Xf     Yf Ecology        Xd        Yd    DistName  \
0         1  1202 -2.309  6.972    MSNW -2.411475  6.864890   Dadiesoba
1         2  1584 -2.230  6.319      ME -2.248520  6.315544     Bibiani
2         3  1338 -0.222  6.201    DSIZ -0.116434  6.222063       Oyoko
3         4  1410 -0.711  5.717    MSSE -0.742504  5.820004  Asamankese
4         5  1346 -0.537  6.088    MSSE -0.435992  6.297231        Tafo

  DistID         Region REGION     DistKey    District    pH    SOC  \
0    BA2    Brong Ahafo     BA  DADIESOABA  Dadiesoaba  6.61  0.617
1    WN6  Western North     WN     BIBIANI     Bibiani  5.54  0.173
2    ER9        Eastern     ER       OYOKO       Oyoko  6.19  0.112
3    ER1        Eastern     ER  ASAMANKESE  Asamankese  5.14  0.097
4    ER8        Eastern     ER        TAFO   Kibi/Tafo  6.99  0.318

   Fe_meq100g  Al_meq100g   Clay
0       0.023        1.69  34.76
1       0.023        3.01  12.76
2       0.024        9.80  24.76
3       0.027       12.30  18.76
4       0.030       13.23  18.76

In [120]:
df

,ObsFarm#,FID0,Xf,Yf,Ecology,Xd,Yd,DistName,DistID,Region,REGION,DistKey,District,pH,SOC,Fe_meq100g,Al_meq100g,Clay
0,1,1202,-2.309,6.972,MSNW,-2.411475,6.864890,Dadiesoba,BA2,Brong Ahafo,BA,DADIESOABA,Dadiesoaba,6.61,0.617,0.023,1.69,34.76
1,2,1584,-2.230,6.319,ME,-2.248520,6.315544,Bibiani,WN6,Western North,WN,BIBIANI,Bibiani,5.54,0.173,0.023,3.01,12.76
2,3,1338,-0.222,6.201,DSIZ,-0.116434,6.222063,Oyoko,ER9,Eastern,ER,OYOKO,Oyoko,6.19,0.112,0.024,9.80,24.76
3,4,1410,-0.711,5.717,MSSE,-0.742504,5.820004,Asamankese,ER1,Eastern,ER,ASAMANKESE,Asamankese,5.14,0.097,0.027,12.30,18.76
4,5,1346,-0.537,6.088,MSSE,-0.435992,6.297231,Tafo,ER8,Eastern,ER,TAFO,Kibi/Tafo,6.99,0.318,0.030,13.23,18.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,735,1221,-2.062,6.112,ME,-2.051411,6.085170,Diaso,CR7,Central,CR,DIASO,Diaso,5.02,0.485,0.189,8.98,20.76
735,736,1229,-2.104,6.091,ME,-2.051411,6.085170,Diaso,CR7,Central,CR,DIASO,Diaso,5.09,0.535,0.191,8.00,38.76
736,737,1685,-2.069,5.772,ME,-2.001717,5.776301,Wassa Akr.,WS9,Western South,WS,WASSA AKROPONG,Wasa akropong,5.03,0.403,0.194,5.96,30.76
737,738,1233,-2.124,6.161,ME,-2.051411,6.085170,Diaso,CR7,Central,CR,DIASO,Diaso,5.43,0.438,0.195,8.12,28.76
738,739,1235,-2.090,6.257,ME,-2.051411,6.085170,Diaso,CR7,Central,CR,DIASO,Diaso,4.42,0.187,0.200,6.01,18.76

In [121]:
# We are all focusing on regional level so we will need to aggregrate the dataset
# We need the soil data across regional level
# Dropping all the district level dataset
df.drop(columns=['ObsFarm#', 'FID0', 'Xf', 'Yf', 'Xd', 'Yd', 'DistName',
       'DistID', 'DistKey', 'District'], inplace=True)

In [122]:
df.head(5)

  Ecology         Region REGION    pH    SOC  Fe_meq100g  Al_meq100g   Clay
0    MSNW    Brong Ahafo     BA  6.61  0.617       0.023        1.69  34.76
1      ME  Western North     WN  5.54  0.173       0.023        3.01  12.76
2    DSIZ        Eastern     ER  6.19  0.112       0.024        9.80  24.76
3    MSSE        Eastern     ER  5.14  0.097       0.027       12.30  18.76
4    MSSE        Eastern     ER  6.99  0.318       0.030       13.23  18.76

In [123]:
soildata_byregion = df.groupby(['Region']).mean().reset_index()

C:\Users\chimi\AppData\Local\Temp\ipykernel_15444\4268143288.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  soildata_byregion = df.groupby(['Region']).mean().reset_index()

In [124]:
soildata_byregion.head(5)

        Region        pH       SOC  Fe_meq100g  Al_meq100g       Clay
0      Ashanti  5.241382  0.552780    0.092114    6.608537  23.279350
1  Brong Ahafo  5.937407  0.613370    0.051407    3.520000  22.982222
2      Central  5.488917  0.257100    0.095158    8.127000  13.176667
3      Eastern  5.303537  0.251884    0.074619   12.034150  23.327891
4        Volta  5.535325  0.369558    0.089935    7.425584  17.253506

In [125]:
# # EDA will include ecological level aggregration

In [126]:
df1

,Unnamed: 0,Site,Type,Cover,Shade_Tree.Density,Mean_shadetree_DBH,Cocoa_density,Cocoa_Yield,Cocoa_Yield_Tree,Cocoa_DBH,...,Soil.moisture.Aug.2015,Soil.moisture.Feb.2016,Light_Sep.2016,Light_Feb.2016,ABG_Carbon_stocks,Litter_Biomass,Tree.richness,Bird.richness,Ant.richness,Frog.richness
0,Units,NaN,NaN,(%),(shade trees ha-1),(cm),(cocoa trees ha-1),(kg ha-1 y-1),(kg tree-1 y-1),(cm),...,(%),(%),(%),(%),(t_C_ha-1 ),(kg_m2),(Nr. of species),(Nr. of species),(Nr. of species),(Nr. of species)
1,NaN,G,Agro,14.033333,22.22,34.5,1144.33,526.053045,0.459704,12.296,...,28.63,17.17,75.875659,89.712506,13.384868,0.86,4,10,9,2
2,NaN,G,Mono,0,0,0,1111,409.592329,0.36867,12.568,...,25.41,13.79,100,100,9.272884,1.13,1,3,5,2
3,NaN,B,Agro,15.00961,22.22,52.65,1177.66,682.929168,0.579904,11.41,...,17.01,5.08,78.196063,73.795632,16.846159,0.98,3,NaN,NaN,NaN
4,NaN,B,Mono,0,0,0,999.9,636.501268,0.636565,13.498,...,17.14,6.75,100,100,9.668099,1.27,1,NaN,NaN,NaN
5,NaN,M,Agro,23.362533,22.22,53.4,1133.22,439.42689,0.387768,11.714,...,19.529206,5.620714,62.366872,78.073495,28.025395,1.11,3,NaN,NaN,NaN
6,NaN,M,Mono,0,0,0,1444.3,654.046933,0.452847,11.787,...,23.714286,6.87619,100,100,10.371043,1.33,1,NaN,NaN,NaN
7,NaN,W,Agro,23.995222,11.11,55.5,877.69,612.560594,0.697924,14.785,...,23.543016,18.888492,92.860614,78.987041,15.982335,0.96,3,9,15,2
8,NaN,W,Mono,0,0,0,799.92,650.326545,0.812989,16.154,...,21.765,16.678413,100,100,11.567943,1.22,2,3,11,2
9,NaN,Q,Agro,24.646541,44.44,32.45,1466.52,584.228727,0.398378,12.884,...,21.411984,5.200476,74.896587,100,23.299951,1.15,4,7,14,4
10,NaN,Q,Mono,0,0,0,1288.76,868.787804,0.674127,12.482,...,23.373968,5.491667,100,100,10.58542,1.29,1,4,13,3
11,NaN,D,Agro,25.083215,33.33,33.633,1933.14,785.780338,0.406479,9.693,...,21.81,5.27,73.649852,87.186104,17.001433,0.94,4,NaN,NaN,NaN
12,NaN,D,Mono,0,0,0,1477.63,790.084704,0.534697,11.221,...,21.54,6.79,100,100,9.754521,1.24,1,NaN,NaN,NaN
13,NaN,N,Agro,26.101469,33.33,44.767,1266.54,712.529595,0.56258,12.876,...,22.682143,6.40619,63.625847,78.656906,34.245768,1.16,3,10,7,5
14,NaN,N,Mono,0,0,0,1144.33,543.67647,0.475105,13.315,...,22.060873,6.202381,100,100,10.960755,1.2,2,2,9,4
15,NaN,J,Agro,31.603834,33.33,67.5,1177.66,570.809098,0.484698,12.545,...,22.163413,6.803492,64.561062,57.545986,44.637972,1.22,4,13,11,4
16,NaN,J,Mono,0,0,0,966.57,545.844589,0.564723,13.893,...,27.265,9.796111,100,100,9.883863,1.22,1,3,8,5
17,NaN,T,Agro,31.77094,77.77,25.671,877.69,478.999889,0.545751,11.187,...,14.648413,5.370159,60.877599,68.488511,15.662125,1.06,4,13,16,2
18,NaN,T,Mono,0,0,0,844.36,531.833164,0.629865,12.954,...,14.614603,6.981587,100,100,7.55536,1.71,1,5,14,2
19,NaN,O,Agro,36.150301,66.66,46.75,988.79,457.448383,0.462635,11.944,...,24.343095,8.589841,54.794735,74.70133,86.232523,1.63,6,NaN,NaN,NaN
20,NaN,O,Mono,0,0,0,1088.78,534.65981,0.491063,15.446,...,19.427222,9.026587,100,100,13.946756,1.11,1,NaN,NaN,NaN
21,NaN,L,Agro,38.061154,33.33,59.2,1144.33,409.796314,0.35811,10.892,...,16.798968,2.993413,57.655346,65.691728,42.069468,0.9,4,NaN,NaN,NaN
22,NaN,L,Mono,0,0,0,1410.97,531.147704,0.376442,11.238,...,17.630397,3.335476,100,100,9.022902,1.16,1,NaN,NaN,NaN
23,NaN,R,Agro,44.652,66.66,44.942,1177.66,536.188894,0.4553,11.481,...,18.157063,10.143651,46.299955,45.657705,60.421677,1.07,7,13,16,6
24,NaN,R,Mono,0,0,0,1244.32,736.385941,0.591798,12.042,...,16.832222,10.546984,100,100,9.833965,1.26,1,2,12,4
25,NaN,K,Agro,47.879812,77.78,43.625,2166.45,513.412742,0.236983,9.732,...,22.230952,7.454286,52.620511,56.54233,42.488951,0.97,4,NaN,NaN,NaN
26,NaN,K,Mono,0,0,0,1766.49,557.558525,0.315631,10.578,...,24.229365,11.711032,100,100,10.323158,1.59,1,NaN,NaN,NaN
27,NaN,H,Agro,48.684304,44.44,41.66,1644.28,632.824561,0.384864,10.452,...,28.04,11.07,47.627215,74.786234,30.559148,0.83,4,NaN,NaN,NaN
28,NaN,H,Mono,0,0,0,1566.51,565.653706,0.361092,11.577,...,26.48,7.22,100,100,11.273765,1.26,1,NaN,NaN,NaN
29,NaN,A,Agro,52.124346,66.66,34,966.57,485.889405,0.502694,12.702,...,24.11,13.8,58.46441,68.504225,34.152269,1.26,7,15,12,7
30,NaN,A,Mono,0,0,0,977.68,520.191436,0.532067,13.639,...,22.65,12.9,100,100,9.882993,0.96,2,7,7,5
31,NaN,P,Agro,63.42453,177.8,31.225,1622.06,425.691662,0.262439,10.722,...,20.431349,5.74246,49.686457,57.362115,45.045947,1.48,12,NaN,NaN,NaN
32,NaN,P,Mono,0,0,0,1144.33,377.45401,0.329847,13.498,...,25.859921,7.694603,100,100,11.027778,1.25,1,NaN,NaN,NaN
33,NaN,X,Agro,68.372747,111.1,35.15,944.35,338.342074,0.35828,11.135,...,NaN,3.453175,35.729657,23.198769,50.44306,0.95,10,NaN,NaN,NaN
34,NaN,X,Mono,0,0,0,1266.54,704.623385,0.556337,12.665,...,NaN,7.779841,100,100,10.780319,1.16,1,NaN,NaN,NaN
35,NaN,S,Agro,69.588049,55.55,58.18,911.02,303.749474,0.333417,11.864,...,13.045952,5.879444,20.660348,30.770553,68.259316,1.27,6,11,16,4
36,NaN,S,Mono,0,0,0,1111,926.45725,0.833895,12.943,...,16.963095,9.232857,100,100,9.881725,1.33,2,2,10,4
37,NaN,C,Agro,72.421,44.44,56.725,899.91,205.526604,0.228386,12.873,...,20.31,12.12,28.739106,56.960607,62.001731,1.46,4,NaN,NaN,NaN
38,NaN,C,Mono,0,0,0,699.93,453.295789,0.64763,14.651,...,25.26,13.62,100,100,8.11518,1.34,1,NaN,NaN,NaN
39,NaN,U,Agro,76.165812,144.43,27.817,1288.76,132.859229,0.103091,8.148,...,8.299206,1.654206,33.383192,57.521053,34.366006,1.3,11,21,15,3
40,NaN,U,Mono,0,0,0,877.69,674.962182,0.769021,13.415,...,14.614603,6.389365,100,100,8.321255,1.15,1,2,11,2

In [127]:
df2.columns

Index(['location', 'farmer.id', 'Gender', 'Farmer age', 'Household size',
       'Training.days.yr', 'Labour.cost.ha', 'Cocoa income',
       'Non-cocoa income', 'insecticide.applied.ltrs.ha',
       'sachets.fungicide.ha', 'org.fert.kg.ha', 'inorgfert.kg.ha',
       'Stand properties', 'Plot size ha', 'Cocoa plot age',
       'Cocoa plant dbh cm', 'Cocoa plant density', 'shade.coverage.%',
       'shade trees density ha', 'Shade tree species.ha',
       'shade.tree.basal.area.m2', 'Hybrid planting mat.', 'Non-hybrid ',
       'Mistletoe.%', 'Soil nutrients', 'pH', 'Carbon.%', 'Total N%',
       'Soil organic matter %', 'Ca.cmol.kg', 'Mg.cmol.kg', 'K.cmol.kg',
       'Na.cmol.kg', 'P.cmol.kg', 'Exch. A (Al+H)/cmol/kg', 'E.C.E.C /cmol/kg',
       '% Base Sat.', '% SAND', '%  CLAY', '%   SILT', 'yield.class',
       'yield.kg.ha.yr', 'yatt', 'yg', 'yg.%', 'yg%2'],
      dtype='object')

In [128]:
# Dropping irrelevalnt columns
# We already have regional forecasted/historical weatherdataset
# We are excluding temperature releated variables.
df1.drop(columns=['Unnamed: 0', 'Temp.Mean.Oct.2015', 'Site', 'Temp.Mean.Oct.2016',
       'Temp.Mean.Feb.2016', 'Temp.Mean.Feb.2017', 'Temp.Max.Oct.2015',
       'Temp.Max.Oct.2016', 'Temp.Max.Feb.2016', 'Temp.Max.Feb.2017',
       'RH.mean.Oct.2015', 'RH.mean.Oct.2016', 'RH.mean.Feb.2016',
       'RH.mean.Feb.2017', 'RH.Min.Oct.2015', 'RH.Min.Oct.2016',
       'RH.Min.Feb.2016', 'RH.Min.Feb.2017', 'pH'], inplace=True)

In [129]:
# Calculate the light intensity and soil moisture 

# Calculate maximum soil moisture
df1['Max_Soil_Moisture(%)'] = df1[['Soil.moisture.Aug.2015', 'Soil.moisture.Feb.2016']].max(axis=1)

# Calculate minimum soil moisture
df1['Min_Soil_Moisture(%)'] = df1[['Soil.moisture.Aug.2015', 'Soil.moisture.Feb.2016']].min(axis=1)

In [130]:
# Drop both of the columns
df1.drop(columns=['Soil.moisture.Aug.2015', 'Soil.moisture.Feb.2016'],inplace=True)

In [131]:
# Light Intensity

# Assuming your dataset is stored in a DataFrame called df
df1['Max_Light(%)'] = df1[['Light_Sep.2016', 'Light_Feb.2016']].max(axis=1)
df1['Min_Light)%'] = df1[['Light_Sep.2016', 'Light_Feb.2016']].min(axis=1)


# Drop the individual light intensity columns
df1.drop(['Light_Sep.2016', 'Light_Feb.2016'], axis=1, inplace=True)

In [132]:
df1.head(5)

,Type,Cover,Shade_Tree.Density,Mean_shadetree_DBH,Cocoa_density,Cocoa_Yield,Cocoa_Yield_Tree,Cocoa_DBH,Disease_total,Blackpod,...,ABG_Carbon_stocks,Litter_Biomass,Tree.richness,Bird.richness,Ant.richness,Frog.richness,Max_Soil_Moisture(%),Min_Soil_Moisture(%),Max_Light(%),Min_Light)%
0,NaN,(%),(shade trees ha-1),(cm),(cocoa trees ha-1),(kg ha-1 y-1),(kg tree-1 y-1),(cm),(%),(%),...,(t_C_ha-1 ),(kg_m2),(Nr. of species),(Nr. of species),(Nr. of species),(Nr. of species),(%),(%),(%),(%)
1,Agro,14.033333,22.22,34.5,1144.33,526.053045,0.459704,12.296,20.565241,8.0484,...,13.384868,0.86,4,10,9,2,28.63,17.17,89.712506,75.875659
2,Mono,0,0,0,1111,409.592329,0.36867,12.568,16.193781,5.875582,...,9.272884,1.13,1,3,5,2,25.41,13.79,100,100
3,Agro,15.00961,22.22,52.65,1177.66,682.929168,0.579904,11.41,22.1594,7.253716,...,16.846159,0.98,3,NaN,NaN,NaN,17.01,5.08,78.196063,73.795632
4,Mono,0,0,0,999.9,636.501268,0.636565,13.498,15.77425,4.911544,...,9.668099,1.27,1,NaN,NaN,NaN,17.14,6.75,100,100

In [133]:
# Rename columns with corresponding units
column_units = {
                'Cover': 'Cover (%)',
                'Shade_Tree.Density': 'Shade_Tree.Density (shade trees ha-1)',
                'Mean_shadetree_DBH': 'Mean_shadetree_DBH (cm)',
                'Cocoa_density': 'Cocoa_density (cocoa trees ha-1)',
                'Cocoa_Yield': 'Cocoa_Yield (kg ha-1 y-1)',
                'Cocoa_Yield_Tree': 'Cocoa_Yield_Tree (kg tree-1 y-1)',
                'Cocoa_DBH': 'Cocoa_DBH (cm)',
                'Disease_total': 'Disease_total (%)',
                'Blackpod': 'Blackpod (%)',
                'Other.diseases': 'Other.diseases (%)',
                'Mistletoe': 'Mistletoe (%)',
                'Carbon': 'Carbon (t ha-1)',
                'Nitrogen': 'Nitrogen (t ha-1)',
                'Phosphorus': 'Phosphorus (kg ha-1)',
                'P.resin': 'P.resin (kg ha-1)',
                'CEC.eff': 'CEC.eff (cmolc kg-1)',
                'K.ex': 'K.ex (mg kg-1)',
                'Ca.ex': 'Ca.ex (mg kg-1)',
                'Mg.ex': 'Mg.ex (mg kg-1)',
                'Na.ex': 'Na.ex (mg kg-1)',
                'pH': 'pH',
                'Bulk.density': 'Bulk.density (g cm-³)',
                'ABG_Carbon_stocks': 'ABG_Carbon_stocks (t_C_ha-1)',
                'Litter_Biomass': 'Litter_Biomass (kg_m2)',
                'Tree.richness': 'Tree.richness (Nr. of species)',
                'Bird.richness': 'Bird.richness (Nr. of species)',
                'Ant.richness': 'Ant.richness (Nr. of species)',
                'Frog.richness': 'Frog.richness (Nr. of species)'
            }

In [134]:
df1.rename(columns=column_units, inplace=True)

In [135]:
df1.columns

Index(['Type', 'Cover (%)', 'Shade_Tree.Density (shade trees ha-1)',
       'Mean_shadetree_DBH (cm)', 'Cocoa_density (cocoa trees ha-1)',
       'Cocoa_Yield (kg ha-1 y-1)', 'Cocoa_Yield_Tree (kg tree-1 y-1)',
       'Cocoa_DBH (cm)', 'Disease_total (%)', 'Blackpod (%)',
       'Other.diseases (%)', 'Mistletoe (%)', 'Carbon (t ha-1)',
       'Nitrogen (t ha-1)', 'Phosphorus (kg ha-1)', 'P.resin (kg ha-1)',
       'CEC.eff (cmolc kg-1)', 'K.ex (mg kg-1)', 'Ca.ex (mg kg-1)',
       'Mg.ex (mg kg-1)', 'Na.ex (mg kg-1)', 'Bulk.density (g cm-³)',
       'ABG_Carbon_stocks ', 'Litter_Biomass (kg_m2)',
       'Tree.richness (Nr. of species)', 'Bird.richness (Nr. of species)',
       'Ant.richness (Nr. of species)', 'Frog.richness (Nr. of species)',
       'Max_Soil_Moisture(%)', 'Min_Soil_Moisture(%)', 'Max_Light(%)',
       'Min_Light)%'],
      dtype='object')

In [136]:
df1.head(5)

,Type,Cover (%),Shade_Tree.Density (shade trees ha-1),Mean_shadetree_DBH (cm),Cocoa_density (cocoa trees ha-1),Cocoa_Yield (kg ha-1 y-1),Cocoa_Yield_Tree (kg tree-1 y-1),Cocoa_DBH (cm),Disease_total (%),Blackpod (%),...,ABG_Carbon_stocks,Litter_Biomass (kg_m2),Tree.richness (Nr. of species),Bird.richness (Nr. of species),Ant.richness (Nr. of species),Frog.richness (Nr. of species),Max_Soil_Moisture(%),Min_Soil_Moisture(%),Max_Light(%),Min_Light)%
0,NaN,(%),(shade trees ha-1),(cm),(cocoa trees ha-1),(kg ha-1 y-1),(kg tree-1 y-1),(cm),(%),(%),...,(t_C_ha-1 ),(kg_m2),(Nr. of species),(Nr. of species),(Nr. of species),(Nr. of species),(%),(%),(%),(%)
1,Agro,14.033333,22.22,34.5,1144.33,526.053045,0.459704,12.296,20.565241,8.0484,...,13.384868,0.86,4,10,9,2,28.63,17.17,89.712506,75.875659
2,Mono,0,0,0,1111,409.592329,0.36867,12.568,16.193781,5.875582,...,9.272884,1.13,1,3,5,2,25.41,13.79,100,100
3,Agro,15.00961,22.22,52.65,1177.66,682.929168,0.579904,11.41,22.1594,7.253716,...,16.846159,0.98,3,NaN,NaN,NaN,17.01,5.08,78.196063,73.795632
4,Mono,0,0,0,999.9,636.501268,0.636565,13.498,15.77425,4.911544,...,9.668099,1.27,1,NaN,NaN,NaN,17.14,6.75,100,100

In [137]:
df1 = df1.drop(0)

In [138]:
df1 = df1.groupby('Type').mean().reset_index()

In [140]:
Ghana_agrosurveydata = df1

In [142]:
Ghana_agrosurveydata['Country'] = 'Ghana'

In [112]:
column_mapping = {column: "Avg_" + column for column in df1.columns[1:]}

In [115]:
df1.rename(columns=column_mapping)

In [147]:
average_agroforestsurvey = df1

In [148]:
average_agroforestsurvey

,Type,Cover (%),Shade_Tree.Density (shade trees ha-1),Mean_shadetree_DBH (cm),Cocoa_density (cocoa trees ha-1),Cocoa_Yield (kg ha-1 y-1),Cocoa_Yield_Tree (kg tree-1 y-1),Cocoa_DBH (cm),Disease_total (%),Blackpod (%),...,Litter_Biomass (kg_m2),Tree.richness (Nr. of species),Bird.richness (Nr. of species),Ant.richness (Nr. of species),Frog.richness (Nr. of species),Max_Soil_Moisture(%),Min_Soil_Moisture(%),Max_Light(%),Min_Light)%,Country
0,Agro,41.656538,59.441,43.96725,1240.4315,491.752334,0.410469,11.56675,17.905358,6.635301,...,1.128,5.35,12.2,13.1,3.9,19.532397,7.935500,68.130252,54.705443,Ghana
1,Mono,0.000000,0.000,0.00000,1161.5505,610.654177,0.547721,12.97820,18.082944,6.143658,...,1.259,1.20,3.3,10.0,3.3,20.730520,8.940655,100.000000,100.000000,Ghana

In [117]:
df1['Country'] = 'Ghana'

In [88]:
# Using this national survey to calculate national averrages
df2 = df2.mean()

C:\Users\chimi\AppData\Local\Temp\ipykernel_15444\611311532.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2 = df2.mean()

In [89]:
national_survey = pd.DataFrame(df2).transpose()

In [90]:
national_survey

,Farmer age,Household size,Training.days.yr,Labour.cost.ha,Cocoa income,Non-cocoa income,insecticide.applied.ltrs.ha,sachets.fungicide.ha,org.fert.kg.ha,inorgfert.kg.ha,...,E.C.E.C /cmol/kg,% Base Sat.,% SAND,% CLAY,% SILT,yield.kg.ha.yr,yatt,yg,yg.%,yg%2
0,55.386667,8.293333,4.066667,148.423514,6.946667,1.78,5.699993,28.846658,0.731855,0.425125,...,11.428518,97.072926,43.988523,12.487248,43.524228,637.621611,1314.666667,677.045055,46.104478,53.895522

In [91]:
column_mapping = {column: "Avg_" + column for column in national_survey.columns}

In [92]:
national_survey = national_survey.rename(columns=column_mapping)

In [93]:
national_survey

,Avg_Farmer age,Avg_Household size,Avg_Training.days.yr,Avg_Labour.cost.ha,Avg_Cocoa income,Avg_Non-cocoa income,Avg_insecticide.applied.ltrs.ha,Avg_sachets.fungicide.ha,Avg_org.fert.kg.ha,Avg_inorgfert.kg.ha,...,Avg_E.C.E.C /cmol/kg,Avg_% Base Sat.,Avg_% SAND,Avg_% CLAY,Avg_% SILT,Avg_yield.kg.ha.yr,Avg_yatt,Avg_yg,Avg_yg.%,Avg_yg%2
0,55.386667,8.293333,4.066667,148.423514,6.946667,1.78,5.699993,28.846658,0.731855,0.425125,...,11.428518,97.072926,43.988523,12.487248,43.524228,637.621611,1314.666667,677.045055,46.104478,53.895522

In [95]:
national_survey['Country'] = 'Ghana'

In [97]:
re

,Type,Cover (%),Shade_Tree.Density (shade trees ha-1),Mean_shadetree_DBH (cm),Cocoa_density (cocoa trees ha-1),Cocoa_Yield (kg ha-1 y-1),Cocoa_Yield_Tree (kg tree-1 y-1),Cocoa_DBH (cm),Disease_total (%),Blackpod (%),...,ABG_Carbon_stocks,Litter_Biomass (kg_m2),Tree.richness (Nr. of species),Bird.richness (Nr. of species),Ant.richness (Nr. of species),Frog.richness (Nr. of species),Max_Soil_Moisture(%),Min_Soil_Moisture(%),Max_Light(%),Min_Light)%
0,NaN,(%),(shade trees ha-1),(cm),(cocoa trees ha-1),(kg ha-1 y-1),(kg tree-1 y-1),(cm),(%),(%),...,(t_C_ha-1 ),(kg_m2),(Nr. of species),(Nr. of species),(Nr. of species),(Nr. of species),(%),(%),(%),(%)
1,Agro,14.033333,22.22,34.5,1144.33,526.053045,0.459704,12.296,20.565241,8.0484,...,13.384868,0.86,4,10,9,2,28.63,17.17,89.712506,75.875659
2,Mono,0,0,0,1111,409.592329,0.36867,12.568,16.193781,5.875582,...,9.272884,1.13,1,3,5,2,25.41,13.79,100,100
3,Agro,15.00961,22.22,52.65,1177.66,682.929168,0.579904,11.41,22.1594,7.253716,...,16.846159,0.98,3,NaN,NaN,NaN,17.01,5.08,78.196063,73.795632
4,Mono,0,0,0,999.9,636.501268,0.636565,13.498,15.77425,4.911544,...,9.668099,1.27,1,NaN,NaN,NaN,17.14,6.75,100,100
5,Agro,23.362533,22.22,53.4,1133.22,439.42689,0.387768,11.714,26.747593,5.420855,...,28.025395,1.11,3,NaN,NaN,NaN,19.529206,5.620714,78.073495,62.366872
6,Mono,0,0,0,1444.3,654.046933,0.452847,11.787,19.469243,5.00117,...,10.371043,1.33,1,NaN,NaN,NaN,23.714286,6.87619,100,100
7,Agro,23.995222,11.11,55.5,877.69,612.560594,0.697924,14.785,17.17981,8.773407,...,15.982335,0.96,3,9,15,2,23.543016,18.888492,92.860614,78.987041
8,Mono,0,0,0,799.92,650.326545,0.812989,16.154,13.113308,7.658648,...,11.567943,1.22,2,3,11,2,21.765,16.678413,100,100
9,Agro,24.646541,44.44,32.45,1466.52,584.228727,0.398378,12.884,18.672941,5.213248,...,23.299951,1.15,4,7,14,4,21.411984,5.200476,100,74.896587
10,Mono,0,0,0,1288.76,868.787804,0.674127,12.482,15.067218,7.719002,...,10.58542,1.29,1,4,13,3,23.373968,5.491667,100,100
11,Agro,25.083215,33.33,33.633,1933.14,785.780338,0.406479,9.693,16.355105,9.686092,...,17.001433,0.94,4,NaN,NaN,NaN,21.81,5.27,87.186104,73.649852
12,Mono,0,0,0,1477.63,790.084704,0.534697,11.221,14.826089,8.070547,...,9.754521,1.24,1,NaN,NaN,NaN,21.54,6.79,100,100
13,Agro,26.101469,33.33,44.767,1266.54,712.529595,0.56258,12.876,15.955679,5.383239,...,34.245768,1.16,3,10,7,5,22.682143,6.40619,78.656906,63.625847
14,Mono,0,0,0,1144.33,543.67647,0.475105,13.315,26.97429,5.773721,...,10.960755,1.2,2,2,9,4,22.060873,6.202381,100,100
15,Agro,31.603834,33.33,67.5,1177.66,570.809098,0.484698,12.545,18.187889,7.394862,...,44.637972,1.22,4,13,11,4,22.163413,6.803492,64.561062,57.545986
16,Mono,0,0,0,966.57,545.844589,0.564723,13.893,16.388256,5.151614,...,9.883863,1.22,1,3,8,5,27.265,9.796111,100,100
17,Agro,31.77094,77.77,25.671,877.69,478.999889,0.545751,11.187,20.117757,6.927929,...,15.662125,1.06,4,13,16,2,14.648413,5.370159,68.488511,60.877599
18,Mono,0,0,0,844.36,531.833164,0.629865,12.954,15.319636,5.74448,...,7.55536,1.71,1,5,14,2,14.614603,6.981587,100,100
19,Agro,36.150301,66.66,46.75,988.79,457.448383,0.462635,11.944,10.809256,4.342259,...,86.232523,1.63,6,NaN,NaN,NaN,24.343095,8.589841,74.70133,54.794735
20,Mono,0,0,0,1088.78,534.65981,0.491063,15.446,20.526102,6.037899,...,13.946756,1.11,1,NaN,NaN,NaN,19.427222,9.026587,100,100
21,Agro,38.061154,33.33,59.2,1144.33,409.796314,0.35811,10.892,14.32455,6.17973,...,42.069468,0.9,4,NaN,NaN,NaN,16.798968,2.993413,65.691728,57.655346
22,Mono,0,0,0,1410.97,531.147704,0.376442,11.238,13.013062,7.248796,...,9.022902,1.16,1,NaN,NaN,NaN,17.630397,3.335476,100,100
23,Agro,44.652,66.66,44.942,1177.66,536.188894,0.4553,11.481,16.651527,4.731684,...,60.421677,1.07,7,13,16,6,18.157063,10.143651,46.299955,45.657705
24,Mono,0,0,0,1244.32,736.385941,0.591798,12.042,20.984367,6.223287,...,9.833965,1.26,1,2,12,4,16.832222,10.546984,100,100
25,Agro,47.879812,77.78,43.625,2166.45,513.412742,0.236983,9.732,15.654661,7.473725,...,42.488951,0.97,4,NaN,NaN,NaN,22.230952,7.454286,56.54233,52.620511
26,Mono,0,0,0,1766.49,557.558525,0.315631,10.578,23.600735,9.223231,...,10.323158,1.59,1,NaN,NaN,NaN,24.229365,11.711032,100,100
27,Agro,48.684304,44.44,41.66,1644.28,632.824561,0.384864,10.452,14.337358,7.380825,...,30.559148,0.83,4,NaN,NaN,NaN,28.04,11.07,74.786234,47.627215
28,Mono,0,0,0,1566.51,565.653706,0.361092,11.577,17.830091,6.89308,...,11.273765,1.26,1,NaN,NaN,NaN,26.48,7.22,100,100
29,Agro,52.124346,66.66,34,966.57,485.889405,0.502694,12.702,18.537079,5.804125,...,34.152269,1.26,7,15,12,7,24.11,13.8,68.504225,58.46441
30,Mono,0,0,0,977.68,520.191436,0.532067,13.639,20.642008,4.543802,...,9.882993,0.96,2,7,7,5,22.65,12.9,100,100
31,Agro,63.42453,177.8,31.225,1622.06,425.691662,0.262439,10.722,19.673102,5.072756,...,45.045947,1.48,12,NaN,NaN,NaN,20.431349,5.74246,57.362115,49.686457
32,Mono,0,0,0,1144.33,377.45401,0.329847,13.498,28.828105,4.411588,...,11.027778,1.25,1,NaN,NaN,NaN,25.859921,7.694603,100,100
33,Agro,68.372747,111.1,35.15,944.35,338.342074,0.35828,11.135,18.325811,7.135654,...,50.44306,0.95,10,NaN,NaN,NaN,3.453175,3.453175,35.729657,23.198769
34,Mono,0,0,0,1266.54,704.623385,0.556337,12.665,17.412873,6.141135,...,10.780319,1.16,1,NaN,NaN,NaN,7.779841,7.779841,100,100
35,Agro,69.588049,55.55,58.18,911.02,303.749474,0.333417,11.864,17.455718,5.620983,...,68.259316,1.27,6,11,16,4,13.045952,5.879444,30.770553,20.660348
36,Mono,0,0,0,1111,926.45725,0.833895,12.943,13.015885,6.410159,...,9.881725,1.33,2,2,10,4,16.963095,9.232857,100,100
37,Agro,72.421,44.44,56.725,899.91,205.526604,0.228386,12.873,19.80548,6.049462,...,62.001731,1.46,4,NaN,NaN,NaN,20.31,12.12,56.960607,28.739106
38,Mono,0,0,0,699.93,453.295789,0.64763,14.651,18.464917,4.61927,...,8.11518,1.34,1,NaN,NaN,NaN,25.26,13.62,100,100
39,Agro,76.165812,144.43,27.817,1288.76,132.859229,0.103091,8.148,16.591209,8.813065,...,34.366006,1.3,11,21,15,3,8.299206,1.654206,57.521053,33.383192
40,Mono,0,0,0,877.69,674.962182,0.769021,13.415,14.214667,5.214604,...,8.321255,1.15,1,2,11,2,14.614603,6.389365,100,100

In [143]:
# We are using surveys to calculate regional and national data
# Creating a common called country to combine data
soildata_byregion['Country'] = 'Ghana'

In [144]:
soildata_byregion

,Region,pH,SOC,Fe_meq100g,Al_meq100g,Clay,Country
0,Ashanti,5.241382,0.552780,0.092114,6.608537,23.279350,Ghana
1,Brong Ahafo,5.937407,0.613370,0.051407,3.520000,22.982222,Ghana
2,Central,5.488917,0.257100,0.095158,8.127000,13.176667,Ghana
3,Eastern,5.303537,0.251884,0.074619,12.034150,23.327891,Ghana
4,Volta,5.535325,0.369558,0.089935,7.425584,17.253506,Ghana
5,Western North,5.330755,0.442868,0.082849,4.712264,24.967547,Ghana
6,Western South,4.646000,0.347024,0.127753,8.800824,24.712941,Ghana

In [149]:
average_agroforestsurvey

,Type,Cover (%),Shade_Tree.Density (shade trees ha-1),Mean_shadetree_DBH (cm),Cocoa_density (cocoa trees ha-1),Cocoa_Yield (kg ha-1 y-1),Cocoa_Yield_Tree (kg tree-1 y-1),Cocoa_DBH (cm),Disease_total (%),Blackpod (%),...,Litter_Biomass (kg_m2),Tree.richness (Nr. of species),Bird.richness (Nr. of species),Ant.richness (Nr. of species),Frog.richness (Nr. of species),Max_Soil_Moisture(%),Min_Soil_Moisture(%),Max_Light(%),Min_Light)%,Country
0,Agro,41.656538,59.441,43.96725,1240.4315,491.752334,0.410469,11.56675,17.905358,6.635301,...,1.128,5.35,12.2,13.1,3.9,19.532397,7.935500,68.130252,54.705443,Ghana
1,Mono,0.000000,0.000,0.00000,1161.5505,610.654177,0.547721,12.97820,18.082944,6.143658,...,1.259,1.20,3.3,10.0,3.3,20.730520,8.940655,100.000000,100.000000,Ghana

In [150]:
national_survey

,Avg_Farmer age,Avg_Household size,Avg_Training.days.yr,Avg_Labour.cost.ha,Avg_Cocoa income,Avg_Non-cocoa income,Avg_insecticide.applied.ltrs.ha,Avg_sachets.fungicide.ha,Avg_org.fert.kg.ha,Avg_inorgfert.kg.ha,...,Avg_% Base Sat.,Avg_% SAND,Avg_% CLAY,Avg_% SILT,Avg_yield.kg.ha.yr,Avg_yatt,Avg_yg,Avg_yg.%,Avg_yg%2,Country
0,55.386667,8.293333,4.066667,148.423514,6.946667,1.78,5.699993,28.846658,0.731855,0.425125,...,97.072926,43.988523,12.487248,43.524228,637.621611,1314.666667,677.045055,46.104478,53.895522,Ghana

In [151]:
# Assuming you have the three datasets: soildata_byregion, average_agroforestsurvey, and national_survey

# Merge soildata_byregion and average_agroforestsurvey on 'Country'
merged_data = soildata_byregion.merge(average_agroforestsurvey, on='Country')

# Merge merged_data and national_survey on 'Country'
merged_data = merged_data.merge(national_survey, on='Country')

# Print the merged dataset
print(merged_data)

           Region        pH       SOC  Fe_meq100g  Al_meq100g       Clay  \
0         Ashanti  5.241382  0.552780    0.092114    6.608537  23.279350
1         Ashanti  5.241382  0.552780    0.092114    6.608537  23.279350
2     Brong Ahafo  5.937407  0.613370    0.051407    3.520000  22.982222
3     Brong Ahafo  5.937407  0.613370    0.051407    3.520000  22.982222
4         Central  5.488917  0.257100    0.095158    8.127000  13.176667
5         Central  5.488917  0.257100    0.095158    8.127000  13.176667
6         Eastern  5.303537  0.251884    0.074619   12.034150  23.327891
7         Eastern  5.303537  0.251884    0.074619   12.034150  23.327891
8           Volta  5.535325  0.369558    0.089935    7.425584  17.253506
9           Volta  5.535325  0.369558    0.089935    7.425584  17.253506
10  Western North  5.330755  0.442868    0.082849    4.712264  24.967547
11  Western North  5.330755  0.442868    0.082849    4.712264  24.967547
12  Western South  4.646000  0.347024    0.127753    8.800824  24.712941
13  Western South  4.646000  0.347024    0.127753    8.800824  24.712941

   Country  Type  Cover (%)  Shade_Tree.Density (shade trees ha-1)  ...  \
0    Ghana  Agro  41.656538                                 59.441  ...
1    Ghana  Mono   0.000000                                  0.000  ...
2    Ghana  Agro  41.656538                                 59.441  ...
3    Ghana  Mono   0.000000                                  0.000  ...
4    Ghana  Agro  41.656538                                 59.441  ...
5    Ghana  Mono   0.000000                                  0.000  ...
6    Ghana  Agro  41.656538                                 59.441  ...
7    Ghana  Mono   0.000000                                  0.000  ...
8    Ghana  Agro  41.656538                                 59.441  ...
9    Ghana  Mono   0.000000                                  0.000  ...
10   Ghana  Agro  41.656538                                 59.441  ...
11   Ghana  Mono   0.000000                                  0.000  ...
12   Ghana  Agro  41.656538                                 59.441  ...
13   Ghana  Mono   0.000000                                  0.000  ...

    Avg_E.C.E.C /cmol/kg  Avg_% Base Sat.  Avg_% SAND  Avg_%  CLAY  \
0              11.428518        97.072926   43.988523    12.487248
1              11.428518        97.072926   43.988523    12.487248
2              11.428518        97.072926   43.988523    12.487248
3              11.428518        97.072926   43.988523    12.487248
4              11.428518        97.072926   43.988523    12.487248
5              11.428518        97.072926   43.988523    12.487248
6              11.428518        97.072926   43.988523    12.487248
7              11.428518        97.072926   43.988523    12.487248
8              11.428518        97.072926   43.988523    12.487248
9              11.428518        97.072926   43.988523    12.487248
10             11.428518        97.072926   43.988523    12.487248
11             11.428518        97.072926   43.988523    12.487248
12             11.428518        97.072926   43.988523    12.487248
13             11.428518        97.072926   43.988523    12.487248

    Avg_%   SILT  Avg_yield.kg.ha.yr     Avg_yatt      Avg_yg   Avg_yg.%  \
0      43.524228          637.621611  1314.666667  677.045055  46.104478
1      43.524228          637.621611  1314.666667  677.045055  46.104478
2      43.524228          637.621611  1314.666667  677.045055  46.104478
3      43.524228          637.621611  1314.666667  677.045055  46.104478
4      43.524228          637.621611  1314.666667  677.045055  46.104478
5      43.524228          637.621611  1314.666667  677.045055  46.104478
6      43.524228          637.621611  1314.666667  677.045055  46.104478
7      43.524228          637.621611  1314.666667  677.045055  46.104478
8      43.524228          637.621611  1314.666667  677.045055  46.104478
9      43.524228          637.621611  1314.666667  677.045055  46.104478
10     43.524228          637.621611  1314.666667  677.045055  46.104478
11     43.524228          637.621611  1314.666667  677.045055  46.104478
12     43.524228          637.621611  1314.666667  677.045055  46.104478
13     43.524228          637.621611  1314.666667  677.045055  46.104478

     Avg_yg%2
0   53.895522
1   53.895522
2   53.895522
3   53.895522
4   53.895522
5   53.895522
6   53.895522
7   53.895522
8   53.895522
9   53.895522
10  53.895522
11  53.895522
12  53.895522
13  53.895522

[14 rows x 82 columns]

In [153]:
merged_data.to_csv('cocoa-soilsurvey.csv',index=False)