In [482]:
import numpy as np
import pandas as pd
import os

In [483]:


folder_path = 'C:/Users/chimi/Desktop/Python Data Science Projects/Cocoa Production/Pre-Processed Data'

# Get the list of CSV files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# Load the CSV files and save them as separate variables
for i, csv_file in enumerate(csv_files):
    file_path = os.path.join(folder_path, csv_file)
    variable_name = f'df{i+1}'
    globals()[variable_name] = pd.read_csv(file_path)

# Access the DataFrames using their respective variable names
print(df1.head())
print(df2.head())
print(df3.head())
# ... and so on

C:\Users\chimi\AppData\Local\Temp\ipykernel_10092\800784243.py:10: DtypeWarning: Columns (0,1,2,3,6,7,9,10,11,12,14,15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  globals()[variable_name] = pd.read_csv(file_path)

    Region  Year  Burn_Area(ha)  Tree_CoverExtent(Ha)      area__ha  \
0  Ashanti  2001   28756.227036          1.513515e+06  2.490413e+06
1  Ashanti  2002   18149.852344          1.513515e+06  2.490413e+06
2  Ashanti  2003   17397.065017          1.513515e+06  2.490413e+06
3  Ashanti  2004   21866.771643          1.513515e+06  2.490413e+06
4  Ashanti  2005   20638.045186          1.513515e+06  2.490413e+06

   Avg_Tree_CoverGain(Ha)  Tree_CoverLoss(Ha)  TotalGreenHouse(mg)  \
0             1268.076744         5851.122804         2.100593e+06
1             1268.076744        15251.958338         5.537939e+06
2             1268.076744         8137.860448         2.952650e+06
3             1268.076744         2014.371336         7.908153e+05
4             1268.076744         7549.778007         2.910321e+06

   Tree_CoverLossFire(Ha)
0               25.217732
1               21.019157
2               14.290960
3                8.179280
4                8.713430
   Year  Area harvested(ha)  Production(tonnes)  Yield(hg/ha)
0  1961           1756000.0            415200.0        2364.0
1  1962           1800000.0            428100.0        2378.0
2  1963           1820000.0            427800.0        2351.0
3  1964           1848000.0            580500.0        3141.0
4  1965           1830000.0            415800.0        2272.0
  GID_0 NAME_0    GID_1         NAME_1  VARNAME_1  NL_NAME_1  TYPE_1  \
0   GHA  Ghana  GHA.1_1        Ashanti        NaN        NaN  Region
1   GHA  Ghana  GHA.2_1    Brong Ahafo        NaN        NaN  Region
2   GHA  Ghana  GHA.3_1        Central        NaN        NaN  Region
3   GHA  Ghana  GHA.4_1        Eastern        NaN        NaN  Region
4   GHA  Ghana  GHA.5_1  Greater Accra        NaN        NaN  Region

  ENGTYPE_1  CC_1 HASC_1  ... NAME_2 VARNAME_2 NL_NAME_2  TYPE_2 ENGTYPE_2  \
0    Region   NaN  GH.AH  ...    NaN       NaN       NaN     NaN       NaN
1    Region   NaN  GH.BA  ...    NaN       NaN       NaN     NaN       NaN
2    Region   NaN  GH.CP  ...    NaN       NaN       NaN     NaN       NaN
3    Region   NaN  GH.EP  ...    NaN       NaN       NaN     NaN       NaN
4    Region   NaN  GH.AA  ...    NaN       NaN       NaN     NaN       NaN

  CC_2  HASC_2 elevation         x         y
0  NaN     NaN       290 -1.448573  6.803616
1  NaN     NaN       281 -1.657978  7.706088
2  NaN     NaN       290 -1.197226  5.560964
3  NaN     NaN       291 -0.450589  6.412757
4  NaN     NaN       287  0.065873  5.821748

[5 rows x 21 columns]

In [484]:
df1.head(5)

,Region,Year,Burn_Area(ha),Tree_CoverExtent(Ha),area__ha,Avg_Tree_CoverGain(Ha),Tree_CoverLoss(Ha),TotalGreenHouse(mg),Tree_CoverLossFire(Ha)
0,Ashanti,2001,28756.227036,1.513515e+06,2.490413e+06,1268.076744,5851.122804,2.100593e+06,25.217732
1,Ashanti,2002,18149.852344,1.513515e+06,2.490413e+06,1268.076744,15251.958338,5.537939e+06,21.019157
2,Ashanti,2003,17397.065017,1.513515e+06,2.490413e+06,1268.076744,8137.860448,2.952650e+06,14.290960
3,Ashanti,2004,21866.771643,1.513515e+06,2.490413e+06,1268.076744,2014.371336,7.908153e+05,8.179280
4,Ashanti,2005,20638.045186,1.513515e+06,2.490413e+06,1268.076744,7549.778007,2.910321e+06,8.713430

In [485]:
df1['Region'].value_counts()

Ashanti        21
Brong Ahafo    21
Eastern        21
Central        19
Name: Region, dtype: int64

In [486]:
df1 = df1[df1['Year'] >= 2013].reset_index(drop=True)

In [487]:
df1

,Region,Year,Burn_Area(ha),Tree_CoverExtent(Ha),area__ha,Avg_Tree_CoverGain(Ha),Tree_CoverLoss(Ha),TotalGreenHouse(mg),Tree_CoverLossFire(Ha)
0,Ashanti,2013,20831.035687,1.513515e+06,2.490413e+06,1268.076744,21252.876240,1.090323e+07,25.227872
1,Ashanti,2014,16322.094905,1.513515e+06,2.490413e+06,1268.076744,34473.828017,1.823620e+07,3.823130
2,Ashanti,2015,23471.854449,1.513515e+06,2.490413e+06,1268.076744,11587.520657,6.384941e+06,3.134098
3,Ashanti,2016,21340.542707,1.513515e+06,2.490413e+06,1268.076744,34971.672470,1.922953e+07,2790.147699
4,Ashanti,2017,12811.426611,1.513515e+06,2.490413e+06,1268.076744,25325.165598,1.463546e+07,12.150725
5,Ashanti,2018,20460.818438,1.513515e+06,2.490413e+06,1268.076744,25689.310304,1.511941e+07,7.337270
6,Ashanti,2019,13088.187882,1.513515e+06,2.490413e+06,1268.076744,18987.304499,1.184884e+07,2.369454
7,Ashanti,2020,26397.177007,1.513515e+06,2.490413e+06,1268.076744,36378.918216,2.318778e+07,111.040859
8,Ashanti,2021,11178.615240,1.513515e+06,2.490413e+06,1268.076744,29175.638518,1.895961e+07,29.976770
9,Brong Ahafo,2013,48813.287061,1.138942e+06,3.948867e+06,147.245663,7620.916668,3.553877e+06,0.305576
10,Brong Ahafo,2014,45856.234152,1.138942e+06,3.948867e+06,147.245663,11896.079013,5.811882e+06,1.679077
11,Brong Ahafo,2015,63881.483786,1.138942e+06,3.948867e+06,147.245663,7064.227454,3.505427e+06,0.152732
12,Brong Ahafo,2016,35902.168870,1.138942e+06,3.948867e+06,147.245663,16647.654245,8.353087e+06,463.424786
13,Brong Ahafo,2017,35925.331882,1.138942e+06,3.948867e+06,147.245663,19399.190673,1.009745e+07,1.068539
14,Brong Ahafo,2018,43797.585724,1.138942e+06,3.948867e+06,147.245663,22374.060799,1.200950e+07,2.363565
15,Brong Ahafo,2019,32180.599766,1.138942e+06,3.948867e+06,147.245663,9497.112561,5.296414e+06,1.906533
16,Brong Ahafo,2020,47494.792073,1.138942e+06,3.948867e+06,147.245663,16660.856205,9.449827e+06,110.934687
17,Brong Ahafo,2021,19507.535823,1.138942e+06,3.948867e+06,147.245663,10864.664418,6.349030e+06,0.914725
18,Central,2013,266.989785,7.118827e+05,9.651762e+05,2437.630043,9839.310762,4.799951e+06,6.126563
19,Central,2014,232.707111,7.118827e+05,9.651762e+05,2437.630043,12761.251534,6.462033e+06,7.350363
20,Central,2015,489.830359,7.118827e+05,9.651762e+05,2437.630043,6532.281435,3.421402e+06,0.535908
21,Central,2016,219.696654,7.118827e+05,9.651762e+05,2437.630043,13456.740787,6.993260e+06,4.058316
22,Central,2017,122.486060,7.118827e+05,9.651762e+05,2437.630043,8418.511221,4.466905e+06,2.296812
23,Central,2018,350.508633,7.118827e+05,9.651762e+05,2437.630043,23680.603953,1.308408e+07,0.765983
24,Central,2019,40.828517,7.118827e+05,9.651762e+05,2437.630043,12504.012799,6.784318e+06,0.306330
25,Central,2020,289.506341,7.118827e+05,9.651762e+05,2437.630043,16924.043567,9.512388e+06,0.536098
26,Central,2021,102.064837,7.118827e+05,9.651762e+05,2437.630043,11116.869173,6.260763e+06,5.819439
27,Eastern,2013,8730.015108,9.119483e+05,1.850124e+06,1027.013009,14124.430037,7.279452e+06,3.442227
28,Eastern,2014,6873.381980,9.119483e+05,1.850124e+06,1027.013009,14792.753322,7.971048e+06,1.530024
29,Eastern,2015,15917.912070,9.119483e+05,1.850124e+06,1027.013009,5729.948861,3.171966e+06,0.152945
30,Eastern,2016,11939.206190,9.119483e+05,1.850124e+06,1027.013009,18062.593329,1.010865e+07,19.877048
31,Eastern,2017,5232.423435,9.119483e+05,1.850124e+06,1027.013009,24336.176631,1.439099e+07,13.313709
32,Eastern,2018,12820.724746,9.119483e+05,1.850124e+06,1027.013009,21502.291612,1.319541e+07,0.841432
33,Eastern,2019,4290.953051,9.119483e+05,1.850124e+06,1027.013009,12095.733077,7.638860e+06,1.377143
34,Eastern,2020,9360.674969,9.119483e+05,1.850124e+06,1027.013009,15208.520774,9.834448e+06,3.596087
35,Eastern,2021,7334.093862,9.119483e+05,1.850124e+06,1027.013009,16541.910833,1.100431e+07,3.748649

In [488]:
# DF 2 
# We only need 2013 to 2021 data
df2 = df2[df2['Year'] >= 2013].reset_index(drop=True)

In [489]:
df2 = df2.rename(columns={'Area harvested(ha)': 'National_Area harvested(ha)',
                        'Production(tonnes)': 'National_Production(tonnes)',
                        'Yield(hg/ha)': 'National_Yield(hg/ha)'})

In [490]:
df2

,Year,National_Area harvested(ha),National_Production(tonnes),National_Yield(hg/ha)
0,2013,1600300.0,835466.0,5221.0
1,2014,1683765.0,858720.0,5100.0
2,2015,1683765.0,858720.0,5100.0
3,2016,1683765.0,858720.0,5100.0
4,2017,1863830.0,969300.0,5201.0
5,2018,1701251.0,904700.0,5318.0
6,2019,1488374.0,811700.0,5454.0
7,2020,1887726.0,1047000.0,5546.0
8,2021,1457677.0,822000.0,5639.0

In [491]:
df3 = df3[['NAME_1','elevation','x','y']]

In [492]:
# Dropping all values that have no elevation data
df3 = df3.dropna()

In [493]:
df3.rename(columns={'NAME_1':'Region','elevation':'Regional_Elevation'},inplace=True)

In [494]:
df3

          Region  Regional_Elevation         x          y
0        Ashanti                 290 -1.448573   6.803616
1    Brong Ahafo                 281 -1.657978   7.706088
2        Central                 290 -1.197226   5.560964
3        Eastern                 291 -0.450589   6.412757
4  Greater Accra                 287  0.065873   5.821748
5       Northern                 276 -0.966658   9.353757
6     Upper East                 274 -0.820531  10.777652
7     Upper West                 279 -2.209540  10.396060
8          Volta                 286  0.392035   7.269002
9        Western                 292 -2.415958   5.752793

In [495]:
# Filter in after 2013
df4 = df4[df4['Year'] >= 2013].reset_index(drop=True)

In [496]:
df4

,Country,Year,Agricultural land (% of land area),Agricultural land (sq. km),Arable land (% of land area),Arable land (hectares per person),Land area (sq. km),Forest area (% of land area)
0,Ghana,2013,55.774651,126909.64,12.488354,0.103235,227540.0,34.74
1,Ghana,2014,55.813756,126998.62,12.280039,0.099098,227540.0,34.69
2,Ghana,2015,55.852861,127087.60,12.071724,0.095141,227540.0,34.63
3,Ghana,2016,55.653336,126633.60,11.863409,0.091337,227540.0,34.82
4,Ghana,2017,55.453810,126179.60,11.655094,0.087750,227540.0,35.00
5,Ghana,2018,55.406258,126071.40,11.446779,0.084371,227540.0,35.03
6,Ghana,2019,55.391316,126037.40,11.239343,0.081130,227540.0,35.06
7,Ghana,2020,55.393020,126037.40,11.046310,0.078103,227533.0,35.10

In [497]:
# Dropping the country column
# Not needed for merge
df4.drop(columns=['Country'],inplace=True)

In [498]:
df4

,Year,Agricultural land (% of land area),Agricultural land (sq. km),Arable land (% of land area),Arable land (hectares per person),Land area (sq. km),Forest area (% of land area)
0,2013,55.774651,126909.64,12.488354,0.103235,227540.0,34.74
1,2014,55.813756,126998.62,12.280039,0.099098,227540.0,34.69
2,2015,55.852861,127087.60,12.071724,0.095141,227540.0,34.63
3,2016,55.653336,126633.60,11.863409,0.091337,227540.0,34.82
4,2017,55.453810,126179.60,11.655094,0.087750,227540.0,35.00
5,2018,55.406258,126071.40,11.446779,0.084371,227540.0,35.03
6,2019,55.391316,126037.40,11.239343,0.081130,227540.0,35.06
7,2020,55.393020,126037.40,11.046310,0.078103,227533.0,35.10

In [499]:
df5

,Region,Avg_Regional_pH,Avg_Regional_SOC,Avg_Regional_Fe_meq100g,Avg_Regional_Al_meq100g,Avg_Regional_Clay,Country,Type,Cover (%),Shade_Tree.Density (shade trees ha-1)_Agro,...,Cocoa_density (cocoa trees ha-1)Plantation,Shade tree species ha-1,Carbon (t ha-1)Plantation,Nitrogen (t ha-1)Plantation,Soil organic matter (t ha-1),Ca.ex (mg kg-1)Plantation,Mg.ex (mg kg-1)Plantation,K.ex (mg kg-1)Plantation,Na.ex (mg kg-1)Plantation,Phosphorus (kg ha-1)Plantation
0,Ashanti,5.241382,0.552780,0.092114,6.608537,23.279350,Ghana,Agro,41.656538,59.441,...,2729.147630,58.521960,138.275444,12.845536,238.386866,84638.77551,23440.816327,2251.059796,810.204082,111140.855714
1,Ashanti,5.241382,0.552780,0.092114,6.608537,23.279350,Ghana,Agro,41.656538,59.441,...,1332.873061,11.361810,284.082091,24.951331,489.757525,102348.00000,31560.000000,2222.000000,1274.000000,137404.000000
2,Ashanti,5.241382,0.552780,0.092114,6.608537,23.279350,Ghana,Agro,41.656538,59.441,...,2529.425717,25.263745,169.135200,15.097718,291.589085,39286.00000,15622.000000,1818.000000,1100.000000,87247.784000
3,Ashanti,5.241382,0.552780,0.092114,6.608537,23.279350,Ghana,Mono,0.000000,0.000,...,2729.147630,58.521960,138.275444,12.845536,238.386866,84638.77551,23440.816327,2251.059796,810.204082,111140.855714
4,Ashanti,5.241382,0.552780,0.092114,6.608537,23.279350,Ghana,Mono,0.000000,0.000,...,1332.873061,11.361810,284.082091,24.951331,489.757525,102348.00000,31560.000000,2222.000000,1274.000000,137404.000000
5,Ashanti,5.241382,0.552780,0.092114,6.608537,23.279350,Ghana,Mono,0.000000,0.000,...,2529.425717,25.263745,169.135200,15.097718,291.589085,39286.00000,15622.000000,1818.000000,1100.000000,87247.784000
6,Brong Ahafo,5.937407,0.613370,0.051407,3.520000,22.982222,Ghana,Agro,41.656538,59.441,...,2729.147630,58.521960,138.275444,12.845536,238.386866,84638.77551,23440.816327,2251.059796,810.204082,111140.855714
7,Brong Ahafo,5.937407,0.613370,0.051407,3.520000,22.982222,Ghana,Agro,41.656538,59.441,...,1332.873061,11.361810,284.082091,24.951331,489.757525,102348.00000,31560.000000,2222.000000,1274.000000,137404.000000
8,Brong Ahafo,5.937407,0.613370,0.051407,3.520000,22.982222,Ghana,Agro,41.656538,59.441,...,2529.425717,25.263745,169.135200,15.097718,291.589085,39286.00000,15622.000000,1818.000000,1100.000000,87247.784000
9,Brong Ahafo,5.937407,0.613370,0.051407,3.520000,22.982222,Ghana,Mono,0.000000,0.000,...,2729.147630,58.521960,138.275444,12.845536,238.386866,84638.77551,23440.816327,2251.059796,810.204082,111140.855714
10,Brong Ahafo,5.937407,0.613370,0.051407,3.520000,22.982222,Ghana,Mono,0.000000,0.000,...,1332.873061,11.361810,284.082091,24.951331,489.757525,102348.00000,31560.000000,2222.000000,1274.000000,137404.000000
11,Brong Ahafo,5.937407,0.613370,0.051407,3.520000,22.982222,Ghana,Mono,0.000000,0.000,...,2529.425717,25.263745,169.135200,15.097718,291.589085,39286.00000,15622.000000,1818.000000,1100.000000,87247.784000
12,Central,5.488917,0.257100,0.095158,8.127000,13.176667,Ghana,Agro,41.656538,59.441,...,2729.147630,58.521960,138.275444,12.845536,238.386866,84638.77551,23440.816327,2251.059796,810.204082,111140.855714
13,Central,5.488917,0.257100,0.095158,8.127000,13.176667,Ghana,Agro,41.656538,59.441,...,1332.873061,11.361810,284.082091,24.951331,489.757525,102348.00000,31560.000000,2222.000000,1274.000000,137404.000000
14,Central,5.488917,0.257100,0.095158,8.127000,13.176667,Ghana,Agro,41.656538,59.441,...,2529.425717,25.263745,169.135200,15.097718,291.589085,39286.00000,15622.000000,1818.000000,1100.000000,87247.784000
15,Central,5.488917,0.257100,0.095158,8.127000,13.176667,Ghana,Mono,0.000000,0.000,...,2729.147630,58.521960,138.275444,12.845536,238.386866,84638.77551,23440.816327,2251.059796,810.204082,111140.855714
16,Central,5.488917,0.257100,0.095158,8.127000,13.176667,Ghana,Mono,0.000000,0.000,...,1332.873061,11.361810,284.082091,24.951331,489.757525,102348.00000,31560.000000,2222.000000,1274.000000,137404.000000
17,Central,5.488917,0.257100,0.095158,8.127000,13.176667,Ghana,Mono,0.000000,0.000,...,2529.425717,25.263745,169.135200,15.097718,291.589085,39286.00000,15622.000000,1818.000000,1100.000000,87247.784000
18,Eastern,5.303537,0.251884,0.074619,12.034150,23.327891,Ghana,Agro,41.656538,59.441,...,2729.147630,58.521960,138.275444,12.845536,238.386866,84638.77551,23440.816327,2251.059796,810.204082,111140.855714
19,Eastern,5.303537,0.251884,0.074619,12.034150,23.327891,Ghana,Agro,41.656538,59.441,...,1332.873061,11.361810,284.082091,24.951331,489.757525,102348.00000,31560.000000,2222.000000,1274.000000,137404.000000
20,Eastern,5.303537,0.251884,0.074619,12.034150,23.327891,Ghana,Agro,41.656538,59.441,...,2529.425717,25.263745,169.135200,15.097718,291.589085,39286.00000,15622.000000,1818.000000,1100.000000,87247.784000
21,Eastern,5.303537,0.251884,0.074619,12.034150,23.327891,Ghana,Mono,0.000000,0.000,...,2729.147630,58.521960,138.275444,12.845536,238.386866,84638.77551,23440.816327,2251.059796,810.204082,111140.855714
22,Eastern,5.303537,0.251884,0.074619,12.034150,23.327891,Ghana,Mono,0.000000,0.000,...,1332.873061,11.361810,284.082091,24.951331,489.757525,102348.00000,31560.000000,2222.000000,1274.000000,137404.000000
23,Eastern,5.303537,0.251884,0.074619,12.034150,23.327891,Ghana,Mono,0.000000,0.000,...,2529.425717,25.263745,169.135200,15.097718,291.589085,39286.00000,15622.000000,1818.000000,1100.000000,87247.784000
24,Volta,5.535325,0.369558,0.089935,7.425584,17.253506,Ghana,Agro,41.656538,59.441,...,2729.147630,58.521960,138.275444,12.845536,238.386866,84638.77551,23440.816327,2251.059796,810.204082,111140.855714
25,Volta,5.535325,0.369558,0.089935,7.425584,17.253506,Ghana,Agro,41.656538,59.441,...,1332.873061,11.361810,284.082091,24.951331,489.757525,102348.00000,31560.000000,2222.000000,1274.000000,137404.000000
26,Volta,5.535325,0.369558,0.089935,7.425584,17.253506,Ghana,Agro,41.656538,59.441,...,2529.425717,25.263745,169.135200,15.097718,291.589085,39286.00000,15622.000000,1818.000000,1100.000000,87247.784000
27,Volta,5.535325,0.369558,0.089935,7.425584,17.253506,Ghana,Mono,0.000000,0.000,...,2729.147630,58.521960,138.275444,12.845536,238.386866,84638.77551,23440.816327,2251.059796,810.204082,111140.855714
28,Volta,5.535325,0.369558,0.089935,7.425584,17.253506,Ghana,Mono,0.000000,0.000,...,1332.873061,11.361810,284.082091,24.951331,489.757525,102348.00000,31560.000000,2222.000000,1274.000000,137404.000000
29,Volta,5.535325,0.369558,0.089935,7.425584,17.253506,Ghana,Mono,0.000000,0.000,...,2529.425717,25.263745,169.135200,15.097718,291.589085,39286.00000,15622.000000,1818.000000,1100.000000,87247.784000
30,Western North,5.330755,0.442868,0.082849,4.712264,24.967547,Ghana,Agro,41.656538,59.441,...,2729.147630,58.521960,138.275444,12.845536,238.386866,84638.77551,23440.816327,2251.059796,810.204082,111140.855714
31,Western North,5.330755,0.442868,0.082849,4.712264,24.967547,Ghana,Agro,41.656538,59.441,...,1332.873061,11.361810,284.082091,24.951331,489.757525,102348.00000,31560.000000,2222.000000,1274.000000,137404.000000
32,Western North,5.330755,0.442868,0.082849,4.712264,24.967547,Ghana,Agro,41.656538,59.441,...,2529.425717,25.263745,169.135200,15.097718,291.589085,39286.00000,15622.000000,1818.000000,1100.000000,87247.784000
33,Western North,5.330755,0.442868,0.082849,4.712264,24.967547,Ghana,Mono,0.000000,0.000,...,2729.147630,58.521960,138.275444,12.845536,238.386866,84638.77551,23440.816327,2251.059796,810.204082,111140.855714
34,Western North,5.330755,0.442868,0.082849,4.712264,24.967547,Ghana,Mono,0.000000,0.000,...,1332.873061,11.361810,284.082091,24.951331,489.757525,102348.00000,31560.000000,2222.000000,1274.000000,137404.000000
35,Western North,5.330755,0.442868,0.082849,4.712264,24.967547,Ghana,Mono,0.000000,0.000,...,2529.425717,25.263745,169.135200,15.097718,291.589085,39286.00000,15622.000000,1818.000000,1100.000000,87247.784000
36,Western South,4.646000,0.347024,0.127753,8.800824,24.712941,Ghana,Agro,41.656538,59.441,...,2729.147630,58.521960,138.275444,12.845536,238.386866,84638.77551,23440.816327,2251.059796,810.204082,111140.855714
37,Western South,4.646000,0.347024,0.127753,8.800824,24.712941,Ghana,Agro,41.656538,59.441,...,1332.873061,11.361810,284.082091,24.951331,489.757525,102348.00000,31560.000000,2222.000000,1274.000000,137404.000000
38,Western South,4.646000,0.347024,0.127753,8.800824,24.712941,Ghana,Agro,41.656538,59.441,...,2529.425717,25.263745,169.135200,15.097718,291.589085,39286.00000,15622.000000,1818.000000,1100.000000,87247.784000
39,Western South,4.646000,0.347024,0.127753,8.800824,24.712941,Ghana,Mono,0.000000,0.000,...,2729.147630,58.521960,138.275444,12.845536,238.386866,84638.77551,23440.816327,2251.059796,810.204082,111140.855714
40,Western South,4.646000,0.347024,0.127753,8.800824,24.712941,Ghana,Mono,0.000000,0.000,...,1332.873061,11.361810,284.082091,24.951331,489.757525,102348.00000,31560.000000,2222.000000,1274.000000,137404.000000
41,Western South,4.646000,0.347024,0.127753,8.800824,24.712941,Ghana,Mono,0.000000,0.000,...,2529.425717,25.263745,169.135200,15.097718,291.589085,39286.00000,15622.000000,1818.000000,1100.000000,87247.784000

In [500]:
df6

,Year,Region,AnnualForecastedDryDays,Country_x,AnnualForecastedDrought(SPEI Index),Country_y,Annualmaxdailytempforecast,Country_x.1,Annualmeantempforecast,Country_y.1,Annualmindailytempforecast,Country,AnnualWetDaysForecast,Month_x,MonthlyWetDaysForecast,AnnualForecastedPrecip(mm),AnnualRelativeHumidityForecast,Month_y,MonthlyReleativeHumidityForecast
0,2015,Brong Ahafo,36.80,Ghana,0.0,Ghana,38.89,Ghana,27.35,Ghana,15.41,Ghana,117.61,Jan,1.13,1292.14,72.34,Jan,42.74
1,2015,Brong Ahafo,36.80,Ghana,0.0,Ghana,38.89,Ghana,27.35,Ghana,15.41,Ghana,117.61,Jan,1.13,1292.14,72.34,Feb,47.45
2,2015,Brong Ahafo,36.80,Ghana,0.0,Ghana,38.89,Ghana,27.35,Ghana,15.41,Ghana,117.61,Jan,1.13,1292.14,72.34,Mar,62.09
3,2015,Brong Ahafo,36.80,Ghana,0.0,Ghana,38.89,Ghana,27.35,Ghana,15.41,Ghana,117.61,Jan,1.13,1292.14,72.34,Apr,71.00
4,2015,Brong Ahafo,36.80,Ghana,0.0,Ghana,38.89,Ghana,27.35,Ghana,15.41,Ghana,117.61,Jan,1.13,1292.14,72.34,May,75.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111451,2100,Western,34.23,Ghana,0.0,Ghana,36.30,Ghana,27.83,Ghana,20.76,Ghana,118.81,Dec,3.21,1393.46,83.96,Aug,91.72
111452,2100,Western,34.23,Ghana,0.0,Ghana,36.30,Ghana,27.83,Ghana,20.76,Ghana,118.81,Dec,3.21,1393.46,83.96,Sep,91.43
111453,2100,Western,34.23,Ghana,0.0,Ghana,36.30,Ghana,27.83,Ghana,20.76,Ghana,118.81,Dec,3.21,1393.46,83.96,Oct,89.97
111454,2100,Western,34.23,Ghana,0.0,Ghana,36.30,Ghana,27.83,Ghana,20.76,Ghana,118.81,Dec,3.21,1393.46,83.96,Nov,85.55
111455,2100,Western,34.23,Ghana,0.0,Ghana,36.30,Ghana,27.83,Ghana,20.76,Ghana,118.81,Dec,3.21,1393.46,83.96,Dec,76.19

In [501]:
df6.columns

Index(['Year', 'Region', 'AnnualForecastedDryDays', 'Country_x',
       'AnnualForecastedDrought(SPEI Index)', 'Country_y',
       'Annualmaxdailytempforecast', 'Country_x.1', 'Annualmeantempforecast',
       'Country_y.1', 'Annualmindailytempforecast', 'Country',
       'AnnualWetDaysForecast', 'Month_x', 'MonthlyWetDaysForecast',
       'AnnualForecastedPrecip(mm)', 'AnnualRelativeHumidityForecast',
       'Month_y', 'MonthlyReleativeHumidityForecast'],
      dtype='object')

In [502]:
# Looks like we have to drop some duplicate columns
df6.drop(columns=['Country_y','Country_y.1','Country_x.1','Country_x','Month_y'],inplace=True)

In [503]:
df6.rename(columns={'Month_x':'Month'},inplace=True)

In [504]:
df6.rename(columns={'Year':'Forecast_Year'},inplace=True)

In [505]:
df6= df6[(df6['Forecast_Year'] >= 2024) & (df6['Forecast_Year'] <= 2034)].reset_index(drop=True)

In [506]:
df6 = df6.groupby(['Region','Forecast_Year']).mean().reset_index()

C:\Users\chimi\AppData\Local\Temp\ipykernel_10092\2785152739.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df6 = df6.groupby(['Region','Forecast_Year']).mean().reset_index()

In [507]:
df6.head(5)

,Region,Forecast_Year,AnnualForecastedDryDays,AnnualForecastedDrought(SPEI Index),Annualmaxdailytempforecast,Annualmeantempforecast,Annualmindailytempforecast,AnnualWetDaysForecast,MonthlyWetDaysForecast,AnnualForecastedPrecip(mm),AnnualRelativeHumidityForecast,MonthlyReleativeHumidityForecast
0,Brong Ahafo,2024,51.56,0.0,39.75,27.86,15.96,117.61,9.64,1316.11,72.34,71.558333
1,Brong Ahafo,2025,56.13,0.0,39.60,27.81,15.86,117.61,9.64,1329.17,72.34,71.558333
2,Brong Ahafo,2026,56.12,0.0,39.39,27.88,16.22,117.61,9.64,1285.69,72.34,71.558333
3,Brong Ahafo,2027,63.23,0.0,39.43,27.56,15.93,117.61,9.64,1259.46,72.34,71.558333
4,Brong Ahafo,2028,42.06,0.0,39.80,27.86,16.57,117.61,9.64,1274.18,72.34,71.558333

In [508]:
df6.columns

Index(['Region', 'Forecast_Year', 'AnnualForecastedDryDays',
       'AnnualForecastedDrought(SPEI Index)', 'Annualmaxdailytempforecast',
       'Annualmeantempforecast', 'Annualmindailytempforecast',
       'AnnualWetDaysForecast', 'MonthlyWetDaysForecast',
       'AnnualForecastedPrecip(mm)', 'AnnualRelativeHumidityForecast',
       'MonthlyReleativeHumidityForecast'],
      dtype='object')

In [509]:
df7

    Year   Region  AnnualMeanTemp Country_x  AnnualPrecip Country_y
0   2013  Ashanti           26.99     Ghana       1208.32     Ghana
1   2014  Ashanti           27.10     Ghana       1341.62     Ghana
2   2015  Ashanti           27.28     Ghana       1220.58     Ghana
3   2016  Ashanti           27.56     Ghana       1289.41     Ghana
4   2017  Ashanti           27.38     Ghana       1296.80     Ghana
..   ...      ...             ...       ...           ...       ...
85  2017  Western           27.33     Ghana       1584.60     Ghana
86  2018  Western           27.16     Ghana       1668.96     Ghana
87  2019  Western           27.04     Ghana       1663.42     Ghana
88  2020  Western           27.31     Ghana       1524.82     Ghana
89  2021  Western           27.42     Ghana       1622.00     Ghana

[90 rows x 6 columns]

In [510]:
# Can drop the country Column
df7.drop(columns=['Country_x','Country_y'],inplace=True)

In [511]:
df7['Region'].value_counts()

Ashanti          9
Brong Ahafo      9
Central          9
Eastern          9
Greater Accra    9
Northern         9
Upper East       9
Upper West       9
Volta            9
Western          9
Name: Region, dtype: int64

In [512]:
# Ghana weather dataset to merge with the preprocessed files
df8['Region'].value_counts()

Ghana    19030
Name: Region, dtype: int64

In [513]:
# Merge all regional files together
concatenated_df = pd.concat([df8,df5,df3,df1,df7],axis=1)

In [514]:
concatenated_df['Region'].drop_duplicates()

   Region         Region         Region       Region         Region
0   Ghana        Ashanti        Ashanti      Ashanti        Ashanti
1   Ghana        Ashanti    Brong Ahafo      Ashanti        Ashanti
2   Ghana        Ashanti        Central      Ashanti        Ashanti
3   Ghana        Ashanti        Eastern      Ashanti        Ashanti
4   Ghana        Ashanti  Greater Accra      Ashanti        Ashanti
5   Ghana        Ashanti       Northern      Ashanti        Ashanti
6   Ghana    Brong Ahafo     Upper East      Ashanti        Ashanti
7   Ghana    Brong Ahafo     Upper West      Ashanti        Ashanti
8   Ghana    Brong Ahafo          Volta      Ashanti        Ashanti
9   Ghana    Brong Ahafo        Western  Brong Ahafo    Brong Ahafo
10  Ghana    Brong Ahafo            NaN  Brong Ahafo    Brong Ahafo
12  Ghana        Central            NaN  Brong Ahafo    Brong Ahafo
18  Ghana        Eastern            NaN      Central        Central
24  Ghana          Volta            NaN      Central        Central
27  Ghana          Volta            NaN      Eastern        Eastern
30  Ghana  Western North            NaN      Eastern        Eastern
36  Ghana  Western South            NaN          NaN  Greater Accra
42  Ghana            NaN            NaN          NaN  Greater Accra
45  Ghana            NaN            NaN          NaN       Northern
54  Ghana            NaN            NaN          NaN     Upper East
63  Ghana            NaN            NaN          NaN     Upper West
72  Ghana            NaN            NaN          NaN          Volta
81  Ghana            NaN            NaN          NaN        Western
90  Ghana            NaN            NaN          NaN            NaN

In [519]:
# Filter the regions we have daily weather dataset on
regions = ['Ashanti', 'Western', 'Eastern', 'Volta', 'Central']
filtered_df = concatenated_df[concatenated_df['Region'].isin(regions)]

In [520]:
concatenated_df.head(5)

,Country,Region,datetime,tempmax,tempmin,temp,dew,humidity,precip,windspeed,...,Year,Burn_Area(ha),Tree_CoverExtent(Ha),area__ha,Avg_Tree_CoverGain(Ha),Tree_CoverLoss(Ha),TotalGreenHouse(mg),Tree_CoverLossFire(Ha),AnnualMeanTemp,AnnualPrecip
0,Ashanti,Ghana,2013-01-01,30.3,16.6,23.6,15.9,64.8,0.0,25.2,...,2013,20831.035687,1.513515e+06,2.490413e+06,1268.076744,21252.876240,1.090323e+07,25.227872,26.99,1208.32
1,Ashanti,Ghana,2013-01-02,32.4,16.6,24.1,13.2,54.9,0.0,18.7,...,2013,16322.094905,1.513515e+06,2.490413e+06,1268.076744,34473.828017,1.823620e+07,3.823130,27.10,1341.62
2,Ashanti,Ghana,2013-01-03,30.5,19.7,25.0,16.8,62.8,0.0,9.4,...,2013,23471.854449,1.513515e+06,2.490413e+06,1268.076744,11587.520657,6.384941e+06,3.134098,27.28,1220.58
3,Ashanti,Ghana,2013-01-04,29.2,18.9,22.8,16.2,67.9,0.0,12.6,...,2013,21340.542707,1.513515e+06,2.490413e+06,1268.076744,34971.672470,1.922953e+07,2790.147699,27.56,1289.41
4,Ashanti,Ghana,2013-01-05,32.4,17.5,24.1,13.7,57.1,0.0,16.2,...,2013,12811.426611,1.513515e+06,2.490413e+06,1268.076744,25325.165598,1.463546e+07,12.150725,27.38,1296.80

In [521]:
# Extract year columns from datetime 
concatenated_df['datetime'] = pd.to_datetime(concatenated_df['datetime'])
concatenated_df['Year'] = concatenated_df['datetime'].dt.year

C:\Users\chimi\AppData\Local\Temp\ipykernel_10092\2525587547.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  concatenated_df['datetime'] = pd.to_datetime(concatenated_df['datetime'])
C:\Users\chimi\AppData\Local\Temp\ipykernel_10092\2525587547.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  concatenated_df['Year'] = concatenated_df['datetime'].dt.year

In [522]:
# Drop the duplicate "Region" columns
concatenated_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]

In [523]:
# Check rows of df1
concatenated_df['Year'] = concatenated_df['Year'].astype(int)

In [524]:
# Merge on Year columns
concatenated_df = concatenated_df.merge(df2, on=['Year'])

In [525]:
# Final Merge
final_df = concatenated_df.merge(df4, on=['Year'])

In [454]:
final_df.to_csv('merged_final.csv',index=False)