In [2]:
import os
import glob
import pandas as pd
import geopandas as gpd

In [3]:
# Define the URL of the webpage to scrape
url = "https://www.indexmundi.com/facts/ghana/indicator/AG.LND.FRST.ZS"

# Use pandas' read_html to parse HTML tables from the webpage
tables = pd.read_html(url)

# Check if any tables were found
if tables:
    # Select the desired table based on its index
    table = tables[0]  # Adjust the index based on the actual position of the desired table
    
    # Conver the table to a dataframe
    df = pd.DataFrame(table)
    
    # Print the DataFrame
    print(table)
else:
    print("No tables found on the webpage.")

    Year  Value
0   1990  43.62
1   1991  43.14
2   1992  42.67
3   1993  42.20
4   1994  41.72
5   1995  41.25
6   1996  40.78
7   1997  40.31
8   1998  39.83
9   1999  39.36
10  2000  38.89
11  2001  38.49
12  2002  38.09
13  2003  37.69
14  2004  37.30
15  2005  36.90
16  2006  36.50
17  2007  36.10
18  2008  35.70
19  2009  35.31
20  2010  34.91
21  2011  34.85
22  2012  34.80
23  2013  34.74
24  2014  34.69
25  2015  34.63
26  2016  34.82
27  2017  35.00
28  2018  35.03
29  2019  35.06
30  2020  35.10

In [4]:
df.head(5)

   Year  Value
0  1990  43.62
1  1991  43.14
2  1992  42.67
3  1993  42.20
4  1994  41.72

In [5]:
# Rename the column
df.rename(columns={'Value': 'Forest area (% of land area)'}, inplace=True)

In [6]:
df.head(5)

   Year  Forest area (% of land area)
0  1990                         43.62
1  1991                         43.14
2  1992                         42.67
3  1993                         42.20
4  1994                         41.72

In [7]:
df.to_csv('Forest Area(%Land Area.csv', index=False)

In [10]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://rainforests.mongabay.com/deforestation/archive/Ghana.htm"

# Send a GET request to the URL
response = requests.get(url)

# Create a BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(response.content, "html.parser")

# Find all table tags in the HTML
tables = soup.find_all('table')

# Loop through each table
for i, table in enumerate(tables):
    # Extract the table data into a list of lists
    data = []
    rows = table.find_all('tr')
    for row in rows:
        cells = row.find_all('td')
        data.append([cell.get_text(strip=True) for cell in cells])
    
    # Convert the table data into a DataFrame
    df = pd.DataFrame(data)
    
    # Save the DataFrame as a CSV file
    filename = f"table_{i+1}.csv"
    df.to_csv(filename, index=False)
    
    print(f"Table {i+1} saved as {filename}")
    print("-" * 40)

Table 1 saved as table_1.csv
----------------------------------------
Table 2 saved as table_2.csv
----------------------------------------
Table 3 saved as table_3.csv
----------------------------------------
Table 4 saved as table_4.csv
----------------------------------------
Table 5 saved as table_5.csv
----------------------------------------
Table 6 saved as table_6.csv
----------------------------------------
Table 7 saved as table_7.csv
----------------------------------------
Table 8 saved as table_8.csv
----------------------------------------