In [1]:
import os
import numpy as np
import pandas as pd

In [164]:
def read_csvs_into_dataframes(root_dir):
    i = 1  # counter for dataframe variable names
    df_dict = {}  # dictionary to store dataframes

    for subdir, dirs, files in os.walk(root_dir):
        for file in files:
            if file.endswith(".csv"):
                filepath = subdir + os.sep + file

                # Read the csv file and save it to a dynamically named variable
                df_dict['df' + str(i)] = pd.read_csv(filepath)
                i += 1
    
    return df_dict

root_dir = 'C:/Users/chimi/Desktop/Python Data Science Projects/Cocoa Production/Data Collection/Forest Data/Ghana Forest'
dataframes = read_csvs_into_dataframes(root_dir)


# Access each dataframe with 'df1', 'df2', etc.
print(dataframes['df1'])


# To save each dataframes in the dictionary to its own variable 
for key, value in dataframes.items():
    globals()[key] = value
    
# Directly access dataframe like below
print(df1)
print(df2)

     iso  adm1  alert__year  alert__week  burn_area__ha
0    GHA     1         2015            9   35606.464847
1    GHA     1         2003            5   49097.618146
2    GHA     1         2019            7    3431.239060
3    GHA     1         2017           43      13.556979
4    GHA     1         2006           50    3053.151425
..   ...   ...          ...          ...            ...
429  GHA     1         2013            8     990.124079
430  GHA     1         2001            8    2061.343431
431  GHA     1         2006           11    2075.891575
432  GHA     1         2013           49     420.619822
433  GHA     1         2019           48    1994.715881

[434 rows x 5 columns]
     iso  adm1  alert__year  alert__week  burn_area__ha
0    GHA     1         2015            9   35606.464847
1    GHA     1         2003            5   49097.618146
2    GHA     1         2019            7    3431.239060
3    GHA     1         2017           43      13.556979
4    GHA     1         2006           50    3053.151425
..   ...   ...          ...          ...            ...
429  GHA     1         2013            8     990.124079
430  GHA     1         2001            8    2061.343431
431  GHA     1         2006           11    2075.891575
432  GHA     1         2013           49     420.619822
433  GHA     1         2019           48    1994.715881

[434 rows x 5 columns]
     iso  adm1  alert__year  alert__week  burn_area__ha
0    GHA     2         2019            6   42361.947084
1    GHA     2         2005            9     230.583865
2    GHA     2         2000           49  160877.332554
3    GHA     2         2008            4  115490.324492
4    GHA     2         2016           17      27.095372
..   ...   ...          ...          ...            ...
527  GHA     2         2016           46   16714.816626
528  GHA     2         2005            4   29939.052741
529  GHA     2         2012           48    3626.349088
530  GHA     2         2020            8   12538.182454
531  GHA     2         2011           51   73309.899282

[532 rows x 5 columns]

In [161]:
# Read the geographical data to match the regions
geo_data = pd.read_csv('C:/Users/chimi/Desktop/Python Data Science Projects/Cocoa Production/Ghana Geo Data/adm1_metadata.csv')

In [162]:
# 
geo_data.head(5)

            name  adm1__id
0        Ashanti         1
1    Brong Ahafo         2
2        Central         3
3        Eastern         4
4  Greater Accra         5

In [163]:
df1.head(5)

   iso  adm1  alert__year  alert__week  burn_area__ha
0  GHA     1         2015            9   35606.464847
1  GHA     1         2003            5   49097.618146
2  GHA     1         2019            7    3431.239060
3  GHA     1         2017           43      13.556979
4  GHA     1         2006           50    3053.151425

In [118]:
df1.columns

Index(['iso', 'adm1', 'alert__year', 'alert__week', 'burn_area__ha'], dtype='object')

In [119]:
df1.shape

(434, 5)

In [120]:
# Drop irrelevant columns
df1.drop(columns=['iso', 'alert__week'],inplace=True)

In [121]:
df1.rename(columns={'adm1':'admin','alert__year':'Year','burn_area__ha':'Burn_Area(ha)'},inplace=True)

In [122]:
df1.head(5)

   admin  Year  Burn_Area(ha)
0      1  2015   35606.464847
1      1  2003   49097.618146
2      1  2019    3431.239060
3      1  2017      13.556979
4      1  2006    3053.151425

In [123]:
df2.head()

   iso  adm1  alert__year  alert__week  burn_area__ha
0  GHA     2         2019            6   42361.947084
1  GHA     2         2005            9     230.583865
2  GHA     2         2000           49  160877.332554
3  GHA     2         2008            4  115490.324492
4  GHA     2         2016           17      27.095372

In [124]:
df2.columns

Index(['iso', 'adm1', 'alert__year', 'alert__week', 'burn_area__ha'], dtype='object')

In [125]:
df2.shape

(532, 5)

In [126]:
df2.rename(columns={'adm1':'admin','alert__year':'Year','burn_area__ha':'Burn_Area(ha)'},inplace=True)

In [127]:
df2.drop(columns=['iso'],inplace=True)

In [128]:
df2.head(5)

   admin  Year  alert__week  Burn_Area(ha)
0      2  2019            6   42361.947084
1      2  2005            9     230.583865
2      2  2000           49  160877.332554
3      2  2008            4  115490.324492
4      2  2016           17      27.095372

In [129]:
df3.head(5)

   iso  adm1  alert__year  alert__week  burn_area__ha
0  GHA     3         2022           10     598.735015
1  GHA     3         2017           46      13.609414
2  GHA     3         2016            3     517.115047
3  GHA     3         2015           10      13.608682
4  GHA     3         2005            7      95.272146

In [130]:
df3.shape

(197, 5)

In [131]:
df3.columns

Index(['iso', 'adm1', 'alert__year', 'alert__week', 'burn_area__ha'], dtype='object')

In [132]:
df3.drop(columns=['iso'],inplace=True)

In [133]:
df3.rename(columns={'adm1':'admin','alert__year':'Year','burn_area__ha':'Burn_Area(ha)'},inplace=True)

In [134]:
df3.head(5)

   admin  Year  alert__week  Burn_Area(ha)
0      3  2022           10     598.735015
1      3  2017           46      13.609414
2      3  2016            3     517.115047
3      3  2015           10      13.608682
4      3  2005            7      95.272146

In [135]:
df4.head(5)

   iso  adm1  alert__year  alert__week  burn_area__ha
0  GHA     4         2014           49    2063.517721
1  GHA     4         2008           11     190.040301
2  GHA     4         2004            1    2117.516758
3  GHA     4         2015           53   12990.380040
4  GHA     4         2010           13     230.995103

In [136]:
df4.shape

(468, 5)

In [137]:
df4.columns

Index(['iso', 'adm1', 'alert__year', 'alert__week', 'burn_area__ha'], dtype='object')

In [138]:
df4.drop(columns=['iso'])

     adm1  alert__year  alert__week  burn_area__ha
0       4         2014           49    2063.517721
1       4         2008           11     190.040301
2       4         2004            1    2117.516758
3       4         2015           53   12990.380040
4       4         2010           13     230.995103
..    ...          ...          ...            ...
463     4         2017            7    1304.016558
464     4         2022           12     176.600041
465     4         2015            6    3407.341470
466     4         2021           48    1167.489080
467     4         2017           52   14684.198447

[468 rows x 4 columns]

In [139]:
df1.rename(columns={'adm1':'admin','alert__year':'Year','burn_area__ha':'Burn_Area(ha)'},inplace=True)

In [140]:
df4.head(5)

   iso  adm1  alert__year  alert__week  burn_area__ha
0  GHA     4         2014           49    2063.517721
1  GHA     4         2008           11     190.040301
2  GHA     4         2004            1    2117.516758
3  GHA     4         2015           53   12990.380040
4  GHA     4         2010           13     230.995103

In [141]:
df1.rename(columns={'adm1':'admin','alert__year':'Year','burn_area__ha':'Burn_Area(ha)'},inplace=True)

In [142]:
df4.head(5)

   iso  adm1  alert__year  alert__week  burn_area__ha
0  GHA     4         2014           49    2063.517721
1  GHA     4         2008           11     190.040301
2  GHA     4         2004            1    2117.516758
3  GHA     4         2015           53   12990.380040
4  GHA     4         2010           13     230.995103

In [143]:
df4.shape

(468, 5)

In [144]:
df4.columns

Index(['iso', 'adm1', 'alert__year', 'alert__week', 'burn_area__ha'], dtype='object')

In [145]:
df4.rename(columns={'adm1':'admin','alert__year':'Year','burn_area__ha':'Burn_Area(ha)'},inplace=True)

In [146]:
df4.drop(columns=['iso'],inplace=True)

In [147]:
df4.head(5)

   admin  Year  alert__week  Burn_Area(ha)
0      4  2014           49    2063.517721
1      4  2008           11     190.040301
2      4  2004            1    2117.516758
3      4  2015           53   12990.380040
4      4  2010           13     230.995103

In [148]:
fire_data = pd.concat([df1, df2, df3, df4], axis=0)

In [151]:
fire_data.columns

Index(['admin', 'Year', 'Burn_Area(ha)', 'alert__week'], dtype='object')

In [152]:
fire_data.drop(columns=['alert__week'],inplace=True)

In [153]:
# Data to merge
fire_data.head()

   admin  Year  Burn_Area(ha)
0      1  2015   35606.464847
1      1  2003   49097.618146
2      1  2019    3431.239060
3      1  2017      13.556979
4      1  2006    3053.151425

In [154]:
df5.head(5)

   iso  adm1  umd_tree_cover_extent_2010__ha      area__ha
0  GHA     1                    1.513515e+06  2.490413e+06

In [155]:
df5.shape

(1, 4)

In [156]:
df5.columns

Index(['iso', 'adm1', 'umd_tree_cover_extent_2010__ha', 'area__ha'], dtype='object')

In [157]:
df5.drop(columns=['iso'],inplace=True)

In [166]:
df5.head(5)

   iso  admin  umd_tree_cover_extent_2010__ha      area__ha
0  GHA      1                    1.513515e+06  2.490413e+06

In [46]:
df6.head(5)

,iso,adm1,umd_tree_cover_loss__year,umd_tree_cover_loss__ha,gfw_gross_emissions_co2e_all_gases__Mg
0,GHA,2,2001,114.382862,51494.304030
1,GHA,2,2002,406.237721,168585.421119
2,GHA,2,2003,165.411364,65304.329460
3,GHA,2,2004,134.557981,54312.863977
4,GHA,2,2005,191.926633,77131.952843

In [47]:
df6.shape

(21, 5)

In [48]:
df6.columns

Index(['iso', 'adm1', 'umd_tree_cover_loss__year', 'umd_tree_cover_loss__ha',
       'gfw_gross_emissions_co2e_all_gases__Mg'],
      dtype='object')

In [49]:
df6.drop(columns=['iso'], inplace=True)

In [50]:
df6 = df6.rename(columns={
    'adm1': 'admin',
    'umd_tree_cover_loss__year': 'Year',
    'umd_tree_cover_loss__ha': 'Tree_CoverLoss(Ha)',
    'gfw_gross_emissions_co2e_all_gases__Mg': 'total_greenhouseemission(millions)'
})

In [51]:
df6.head(5)

   admin  Year  Tree_CoverLoss(Ha)  total_greenhouseemission(millions)
0      2  2001          114.382862                        51494.304030
1      2  2002          406.237721                       168585.421119
2      2  2003          165.411364                        65304.329460
3      2  2004          134.557981                        54312.863977
4      2  2005          191.926633                        77131.952843

In [52]:
df7.head(5)

,iso,adm1,umd_tree_cover_loss__year,umd_tree_cover_loss__ha,gfw_gross_emissions_co2e_all_gases__Mg
0,GHA,3,2001,174.981017,77964.452022
1,GHA,3,2002,55.212549,24078.296821
2,GHA,3,2003,101.771166,44633.588203
3,GHA,3,2004,84.463929,37506.905403
4,GHA,3,2005,281.967958,124551.000225

In [53]:
df7.columns

Index(['iso', 'adm1', 'umd_tree_cover_loss__year', 'umd_tree_cover_loss__ha',
       'gfw_gross_emissions_co2e_all_gases__Mg'],
      dtype='object')

In [54]:
df7.shape

(21, 5)

In [55]:
df7.drop(columns=['iso'],inplace=True)

In [56]:
df7 = df7.rename(columns={
    'adm1': 'admin',
    'umd_tree_cover_loss__year': 'Year',
    'umd_tree_cover_loss__ha': 'Tree_CoverLoss(Ha)',
    'gfw_gross_emissions_co2e_all_gases__Mg': 'total_greenhouseemission(millions)'
})

In [57]:
df7.head(5)

   admin  Year  Tree_CoverLoss(Ha)  total_greenhouseemission(millions)
0      3  2001          174.981017                        77964.452022
1      3  2002           55.212549                        24078.296821
2      3  2003          101.771166                        44633.588203
3      3  2004           84.463929                        37506.905403
4      3  2005          281.967958                       124551.000225

In [58]:
df8.head(5)

,iso,adm1,umd_tree_cover_loss__year,umd_tree_cover_loss__ha,gfw_gross_emissions_co2e_all_gases__Mg
0,GHA,4,2001,151.765485,70477.346291
1,GHA,4,2002,208.318796,105073.526269
2,GHA,4,2003,102.363065,47172.055163
3,GHA,4,2004,41.701033,18453.738073
4,GHA,4,2005,160.219550,71644.134061

In [59]:
df8.columns

Index(['iso', 'adm1', 'umd_tree_cover_loss__year', 'umd_tree_cover_loss__ha',
       'gfw_gross_emissions_co2e_all_gases__Mg'],
      dtype='object')

In [60]:
df8.shape

(21, 5)

In [61]:
# Drop a column
df8.drop(columns=['iso'],inplace=True)

In [62]:
df8 = df8.rename(columns={
    'adm1': 'admin',
    'umd_tree_cover_loss__year': 'Year',
    'umd_tree_cover_loss__ha': 'Tree_CoverLoss(Ha)',
    'gfw_gross_emissions_co2e_all_gases__Mg': 'total_greenhouseemission(millions)'
})

In [63]:
df8.head(5)

   admin  Year  Tree_CoverLoss(Ha)  total_greenhouseemission(millions)
0      4  2001          151.765485                        70477.346291
1      4  2002          208.318796                       105073.526269
2      4  2003          102.363065                        47172.055163
3      4  2004           41.701033                        18453.738073
4      4  2005          160.219550                        71644.134061

In [64]:
tree_coverloss = pd.concat([df5,df6,df7,df8],axis=0)

In [65]:
tree_coverloss.head(5)

   admin  Year  Tree_CoverLoss(Ha)  total_greenhouseemission(millions)
0      1  2001          415.764173                       201127.275539
1      1  2002          882.381834                       376758.748300
2      1  2003          630.263469                       276697.851233
3      1  2004          227.690685                       100006.587895
4      1  2005          579.708943                       257510.144326

In [66]:
df9.head(5)

   iso  adm1  umd_tree_cover_extent_2010__ha      area__ha
0  GHA     1                    1.513515e+06  2.490413e+06

In [67]:
df9.columns

Index(['iso', 'adm1', 'umd_tree_cover_extent_2010__ha', 'area__ha'], dtype='object')

In [68]:
df9.shape

(1, 4)

In [69]:
df9.drop(columns=['iso'],inplace=True)

In [70]:
df9 = df9.rename(columns={
    'adm1': 'admin',
    'umd_tree_cover_loss__year': 'Year',
    'umd_tree_cover_loss__ha': 'Tree_CoverLoss(Ha)',
    'umd_tree_cover_loss_from_fires__ha': 'Tree_CoverLossFires(Ha)'
})

In [71]:
df9.head(5)

   admin  umd_tree_cover_extent_2010__ha      area__ha
0      1                    1.513515e+06  2.490413e+06

In [72]:
df10.head(5)

   iso  adm1  umd_tree_cover_extent_2010__ha      area__ha
0  GHA     2                    1.138942e+06  3.948867e+06

In [73]:
df10.columns

Index(['iso', 'adm1', 'umd_tree_cover_extent_2010__ha', 'area__ha'], dtype='object')

In [74]:
df10.shape

(1, 4)

In [75]:
df10.drop(columns=['iso'],inplace=True)

In [76]:
df10 = df10.rename(columns={
    'adm1': 'admin',
    'umd_tree_cover_loss__year': 'Year',
    'umd_tree_cover_loss__ha': 'Tree_CoverLoss(Ha)',
    'umd_tree_cover_loss_from_fires__ha': 'Tree_CoverLossFires(Ha)',
})

In [77]:
df10.head(5)

   admin  Year  Tree_CoverLoss(Ha)  Tree_CoverLossFires(Ha)
0      2  2001         6517.158426                 8.314765
1      2  2002         3472.814780                 1.221155
2      2  2003         1258.318761                 0.686220
3      2  2004          787.145149                 0.458311
4      2  2005         3358.366334                15.796880

In [78]:
df11.head(5)

,iso,adm1,umd_tree_cover_loss__year,umd_tree_cover_loss__ha,umd_tree_cover_loss_from_fires__ha
0,GHA,3,2001,9795.492987,23.818808
1,GHA,3,2002,14066.933060,15.929626
2,GHA,3,2003,3761.734971,3.139947
3,GHA,3,2004,2838.917129,6.969940
4,GHA,3,2005,7846.020390,9.265177

In [79]:
df11.shape

(21, 5)

In [80]:
df11.columns

Index(['iso', 'adm1', 'umd_tree_cover_loss__year', 'umd_tree_cover_loss__ha',
       'umd_tree_cover_loss_from_fires__ha'],
      dtype='object')

In [81]:
df11.drop(columns=['iso'],inplace=True)

In [82]:
df11.head(5)

,adm1,umd_tree_cover_loss__year,umd_tree_cover_loss__ha,umd_tree_cover_loss_from_fires__ha
0,3,2001,9795.492987,23.818808
1,3,2002,14066.933060,15.929626
2,3,2003,3761.734971,3.139947
3,3,2004,2838.917129,6.969940
4,3,2005,7846.020390,9.265177

In [83]:
df11.rename(columns={'adm1': 'admin',
                     'umd_tree_cover_loss__year': 'Year',
                     'umd_tree_cover_loss__ha': 'Tree_CoverLoss(Ha)',
                     'umd_tree_cover_loss_from_fires__ha': 'Tree_CoverLossFires(Ha)'},
            inplace=True)

In [84]:
df11.head(5)

   admin  Year  Tree_CoverLoss(Ha)  Tree_CoverLossFires(Ha)
0      3  2001         9795.492987                23.818808
1      3  2002        14066.933060                15.929626
2      3  2003         3761.734971                 3.139947
3      3  2004         2838.917129                 6.969940
4      3  2005         7846.020390                 9.265177

In [85]:
df12.head(5)

,iso,adm1,umd_tree_cover_loss__year,umd_tree_cover_loss__ha,umd_tree_cover_loss_from_fires__ha
0,GHA,4,2001,4951.657944,15.375756
1,GHA,4,2002,5699.771019,6.577340
2,GHA,4,2003,3064.140912,5.504051
3,GHA,4,2004,876.785259,2.218675
4,GHA,4,2005,3942.938447,6.426733

In [86]:
df12.shape

(21, 5)

In [87]:
df12.columns

Index(['iso', 'adm1', 'umd_tree_cover_loss__year', 'umd_tree_cover_loss__ha',
       'umd_tree_cover_loss_from_fires__ha'],
      dtype='object')

In [88]:
df12.drop(columns=['iso'],inplace=True)

In [89]:
df12.rename(columns={'adm1': 'admin',
                     'umd_tree_cover_loss__year': 'Year',
                     'umd_tree_cover_loss__ha': 'Tree_CoverLoss(Ha)',
                     'umd_tree_cover_loss_from_fires__ha': 'Tree_CoverLossFires(Ha)'},
            inplace=True)

In [90]:
treecoverloss_byfire =pd.concat([df9,df10,df11,df12])

In [91]:
treecoverloss_byfire.head(5)

   admin  Year  Tree_CoverLoss(Ha)  Tree_CoverLossFires(Ha)
0      1  2001         5851.122804                25.217732
1      1  2002        15251.958338                21.019157
2      1  2003         8137.860448                14.290960
3      1  2004         2014.371336                 8.179280
4      1  2005         7549.778007                 8.713430

In [92]:
df13.head(5)

   iso  adm1  umd_tree_cover_extent_2010__ha      area__ha
0  GHA     1                    1.513515e+06  2.490413e+06

In [93]:
df14.head(5)

   iso  adm1  umd_tree_cover_extent_2010__ha      area__ha
0  GHA     2                    1.138942e+06  3.948867e+06

In [94]:
df15.head(5)

   iso  adm1  umd_tree_cover_extent_2010__ha       area__ha
0  GHA     3                   711882.715546  965176.201649

In [95]:
df16.head(5)

   iso  adm1  umd_tree_cover_extent_2010__ha      area__ha
0  GHA     4                   911948.311603  1.850124e+06

In [96]:
def rename_columns(df):
    return df.rename(columns={
        'iso': 'iso',
        'adm1': 'admin',
        'umd_tree_cover_extent_2010__ha': 'Tree_CoverExtent(Ha)',
        'area__ha': 'Area(Ha)'
    }, inplace=True)

In [97]:
rename_columns(df13)
rename_columns(df14)
rename_columns(df15)
rename_columns(df16)

In [98]:
df16

   iso  admin  Tree_CoverExtent(Ha)      Area(Ha)
0  GHA      4         911948.311603  1.850124e+06

In [99]:
tree_coverextent = pd.concat([df13,df14,df15,df16],axis=0)

In [100]:
tree_coverextent.drop(columns=['iso'],inplace=True)

In [101]:
tree_coverextent.head(5)

   admin  Tree_CoverExtent(Ha)      Area(Ha)
0      1          1.513515e+06  2.490413e+06
0      2          1.138942e+06  3.948867e+06
0      3          7.118827e+05  9.651762e+05
0      4          9.119483e+05  1.850124e+06

In [102]:
df17.head(5)

   iso  adm1  adm2  umd_tree_cover_gain__ha  umd_tree_cover_extent_2000__ha
0  GHA     1     1              1143.889300                    61268.748322
1  GHA     1     2              3808.257282                   140791.594951
2  GHA     1     3              1016.677195                    66796.643483
3  GHA     1     4                56.454321                    72964.811444
4  GHA     1     5               985.491937                   120723.516528

In [103]:
df18.head(5)

   iso  adm1  adm2  umd_tree_cover_gain__ha  umd_tree_cover_extent_2000__ha
0  GHA     2     1               230.708127                   116105.466770
1  GHA     2     2               350.766439                    87201.043556
2  GHA     2     3               420.486515                   161953.012455
3  GHA     2     4                 1.296780                   152892.706038
4  GHA     2     5               150.457924                   102774.122839

In [104]:
df19.head(5)

   iso  adm1  adm2  umd_tree_cover_gain__ha  umd_tree_cover_extent_2000__ha
0  GHA     3     1              2551.880846                    40878.745037
1  GHA     3     2              1927.009442                    72222.383210
2  GHA     3     3              2378.350138                    46863.082459
3  GHA     3     4              2026.499016                    84656.938709
4  GHA     3     5              4025.140222                   114905.099845

In [105]:
df20.head(5)

   iso  adm1  adm2  umd_tree_cover_gain__ha  umd_tree_cover_extent_2000__ha
0  GHA     4     1                85.866915                   524121.229994
1  GHA     4     2               504.361696                    58290.454021
2  GHA     4     3               177.125456                    35716.206798
3  GHA     4     4                82.361018                    75464.378596
4  GHA     4     5               651.713357                    80665.311917

In [106]:
# Renaming 17-20
def rename_columns(df):
    return df.rename(columns={
        'adm1': 'admin',
        'umd_tree_cover_gain__ha': 'Tree_CoverGain(Ha)',
        'umd_tree_cover_extent_2000__ha': 'Tree_CoverExtent(Ha)',
    },inplace=True)

In [107]:
rename_columns(df17)
rename_columns(df18)
rename_columns(df19)
rename_columns(df20)

In [108]:
tree_covergaindata = pd.concat([df17, df18, df19, df20])

In [109]:
tree_covergaindata.head(5)

   iso  admin  adm2  Tree_CoverGain(Ha)  Tree_CoverExtent(Ha)
0  GHA      1     1         1143.889300          61268.748322
1  GHA      1     2         3808.257282         140791.594951
2  GHA      1     3         1016.677195          66796.643483
3  GHA      1     4           56.454321          72964.811444
4  GHA      1     5          985.491937         120723.516528

In [110]:
tree_covergaindata.drop(columns=['iso','adm2'],inplace=True)

In [111]:
tree_covergaindata.head(5)

   admin  Tree_CoverGain(Ha)  Tree_CoverExtent(Ha)
0      1         1143.889300          61268.748322
1      1         3808.257282         140791.594951
2      1         1016.677195          66796.643483
3      1           56.454321          72964.811444
4      1          985.491937         120723.516528

In [112]:
df21.head(5)

,iso,adm1,umd_tree_cover_loss__year,umd_tree_cover_loss__ha,gfw_gross_emissions_co2e_all_gases__Mg
0,GHA,1,2001,5851.122804,2.100593e+06
1,GHA,1,2002,15251.958338,5.537939e+06
2,GHA,1,2003,8137.860448,2.952650e+06
3,GHA,1,2004,2014.371336,7.908153e+05
4,GHA,1,2005,7549.778007,2.910321e+06

In [113]:
df22.head(5)

,iso,adm1,umd_tree_cover_loss__year,umd_tree_cover_loss__ha,gfw_gross_emissions_co2e_all_gases__Mg
0,GHA,2,2001,6517.158426,2.036074e+06
1,GHA,2,2002,3472.814780,1.204934e+06
2,GHA,2,2003,1258.318761,3.920337e+05
3,GHA,2,2004,787.145149,2.859949e+05
4,GHA,2,2005,3358.366334,1.160160e+06

In [114]:
df23.head(5)

,iso,adm1,umd_tree_cover_loss__year,umd_tree_cover_loss__ha,gfw_gross_emissions_co2e_all_gases__Mg
0,GHA,3,2001,9795.492987,3.893981e+06
1,GHA,3,2002,14066.933060,5.461563e+06
2,GHA,3,2003,3761.734971,1.515237e+06
3,GHA,3,2004,2838.917129,1.162293e+06
4,GHA,3,2005,7846.020390,3.416472e+06

In [115]:
df24.head(5)

,iso,adm1,umd_tree_cover_loss__year,umd_tree_cover_loss__ha,gfw_gross_emissions_co2e_all_gases__Mg
0,GHA,4,2001,4951.657944,1.758096e+06
1,GHA,4,2002,5699.771019,2.178357e+06
2,GHA,4,2003,3064.140912,1.178092e+06
3,GHA,4,2004,876.785259,3.502866e+05
4,GHA,4,2005,3942.938447,1.603571e+06

In [116]:
# 21-24
def rename_columns(df):
    df.rename(columns={
        'adm1':'admin',
        'umd_tree_cover_loss__year':'Year',
        'umd_tree_cover_loss__ha':'Tree_CoverLoss(Ha)',
        'gfw_gross_emissions_co2e_all_gases__Mg':'Total_Emission(GreenHousesMg)'
    }, inplace=True)

In [117]:
rename_columns(df21)
rename_columns(df22)
rename_columns(df23)
rename_columns(df24)

In [118]:
emission_data = pd.concat([df21, df22, df23, df24],axis=0)

In [119]:
emission_data.head(5)

   iso  admin  Year  Tree_CoverLoss(Ha)  Total_Emission(GreenHousesMg)
0  GHA      1  2001         5851.122804                   2.100593e+06
1  GHA      1  2002        15251.958338                   5.537939e+06
2  GHA      1  2003         8137.860448                   2.952650e+06
3  GHA      1  2004         2014.371336                   7.908153e+05
4  GHA      1  2005         7549.778007                   2.910321e+06

In [120]:
emission_data.drop(columns=['iso'],inplace=True)

In [121]:
emission_data.head(5)

   admin  Year  Tree_CoverLoss(Ha)  Total_Emission(GreenHousesMg)
0      1  2001         5851.122804                   2.100593e+06
1      1  2002        15251.958338                   5.537939e+06
2      1  2003         8137.860448                   2.952650e+06
3      1  2004         2014.371336                   7.908153e+05
4      1  2005         7549.778007                   2.910321e+06

In [122]:
df26.head(5)

,iso,adm1,umd_tree_cover_loss__year,umd_tree_cover_loss__ha,umd_tree_cover_loss_from_fires__ha
0,GHA,2,2001,6517.158426,8.314765
1,GHA,2,2002,3472.814780,1.221155
2,GHA,2,2003,1258.318761,0.686220
3,GHA,2,2004,787.145149,0.458311
4,GHA,2,2005,3358.366334,15.796880

In [123]:
df27.head(5)

,iso,adm1,umd_tree_cover_loss__year,umd_tree_cover_loss__ha,umd_tree_cover_loss_from_fires__ha
0,GHA,3,2001,9795.492987,23.818808
1,GHA,3,2002,14066.933060,15.929626
2,GHA,3,2003,3761.734971,3.139947
3,GHA,3,2004,2838.917129,6.969940
4,GHA,3,2005,7846.020390,9.265177

In [124]:
df28.head(5)

,iso,adm1,umd_tree_cover_loss__year,umd_tree_cover_loss__ha,umd_tree_cover_loss_from_fires__ha
0,GHA,4,2001,4951.657944,15.375756
1,GHA,4,2002,5699.771019,6.577340
2,GHA,4,2003,3064.140912,5.504051
3,GHA,4,2004,876.785259,2.218675
4,GHA,4,2005,3942.938447,6.426733

In [125]:
# 25-29
def rename_columns(df):
    df.rename(columns={
        'adm1':'admin',
        'umd_tree_cover_loss__year':'Year',
        'umd_tree_cover_loss__ha':'Tree_CoverLoss(Ha)',
        'umd_tree_cover_loss_from_fires__ha':'Tree_CoverLossFires(Ha)'
    }, inplace=True)

In [126]:
rename_columns(df25)
rename_columns(df26)
rename_columns(df27)
rename_columns(df28)

In [127]:
#Sample
df25.head(5)

   iso  admin  Year  Tree_CoverLoss(Ha)  Tree_CoverLossFires(Ha)
0  GHA      1  2001         5851.122804                25.217732
1  GHA      1  2002        15251.958338                21.019157
2  GHA      1  2003         8137.860448                14.290960
3  GHA      1  2004         2014.371336                 8.179280
4  GHA      1  2005         7549.778007                 8.713430

In [128]:
tree_coverlossfires = pd.concat([df25,df26,df27,df28],axis=0)

In [129]:
tree_coverlossfires.head(5)

   iso  admin  Year  Tree_CoverLoss(Ha)  Tree_CoverLossFires(Ha)
0  GHA      1  2001         5851.122804                25.217732
1  GHA      1  2002        15251.958338                21.019157
2  GHA      1  2003         8137.860448                14.290960
3  GHA      1  2004         2014.371336                 8.179280
4  GHA      1  2005         7549.778007                 8.713430

In [130]:
tree_coverlossfires.drop(columns=['iso'], inplace=True)

In [131]:
tree_coverlossfires.head(5)

   admin  Year  Tree_CoverLoss(Ha)  Tree_CoverLossFires(Ha)
0      1  2001         5851.122804                25.217732
1      1  2002        15251.958338                21.019157
2      1  2003         8137.860448                14.290960
3      1  2004         2014.371336                 8.179280
4      1  2005         7549.778007                 8.713430

In [132]:
fire_data
tree_coverloss
treecoverloss_byfire.
tree_coverextent
tree_covergaindata
emission_data
tree_coverlossfires

SyntaxError: invalid syntax (3443292716.py, line 3)

In [3502]:
# Merge all the files together
pd.concat([fire_data,treecoverloss_byfire, tree_coverloss, tree_coverextent, 
          tree_covergaindata, emission_data, tree_coverlossfires])

,admin,Year,Burn_Area(ha),Tree_CoverLoss(Ha),Tree_CoverLossFires(Ha),total_greenhouseemission(millions),iso,Tree_CoverExtent(Ha),Area(Ha),Tree_CoverGain(Ha),Total_Emission(GreenHousesMg)
0,1,2015.0,35606.464847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2003.0,49097.618146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2019.0,3431.239060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2017.0,13.556979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2006.0,3053.151425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16,4,2017.0,NaN,24336.176631,13.313709,NaN,NaN,NaN,NaN,NaN,NaN
17,4,2018.0,NaN,21502.291612,0.841432,NaN,NaN,NaN,NaN,NaN,NaN
18,4,2019.0,NaN,12095.733077,1.377143,NaN,NaN,NaN,NaN,NaN,NaN
19,4,2020.0,NaN,15208.520774,3.596087,NaN,NaN,NaN,NaN,NaN,NaN
20,4,2021.0,NaN,16541.910833,3.748649,NaN,NaN,NaN,NaN,NaN,NaN

In [135]:
# List of dataframes and their keys
dataframes = [
    (fire_data, ['admin', 'Year']), # Merge keys for fire_data
    (treecoverloss_byfire, ['admin', 'Year']), # Merge keys for treecoverloss_byfire
    (tree_coverloss, ['admin', 'Year']), # Merge keys for tree_coverloss
    (tree_coverextent, ['admin']), # Merge keys for tree_coverextent
    (tree_covergaindata, ['admin']), # Merge keys for tree_covergaindata
    (emission_data, ['admin', 'Year']), # Merge keys for emission_data
    (tree_coverlossfires, ['admin', 'Year']), # Merge keys for tree_coverlossfires
]

# Initialize merged_df as the first dataframe
merged_df, merge_keys = dataframes[0]

# Merge all other dataframes
for df, keys in dataframes[1:]:
    merged_df = merged_df.merge(df, on=keys, how='inner')

C:\Users\chimi\AppData\Local\Temp\ipykernel_5744\891777373.py:17: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Tree_CoverLoss(Ha)_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = merged_df.merge(df, on=keys, how='inner')

In [136]:
merged_df.head(5)

,admin,Year,Burn_Area(ha),Tree_CoverLoss(Ha)_x,Tree_CoverLossFires(Ha)_x,Tree_CoverLoss(Ha)_y,total_greenhouseemission(millions),Tree_CoverExtent(Ha)_x,Area(Ha),Tree_CoverGain(Ha),Tree_CoverExtent(Ha)_y,Tree_CoverLoss(Ha)_x,Total_Emission(GreenHousesMg),Tree_CoverLoss(Ha)_y,Tree_CoverLossFires(Ha)_y
0,1,2015,35606.464847,11587.520657,3.134098,438.902859,189654.15856,1.513515e+06,2.490413e+06,1143.889300,61268.748322,11587.520657,6.384941e+06,11587.520657,3.134098
1,1,2015,35606.464847,11587.520657,3.134098,438.902859,189654.15856,1.513515e+06,2.490413e+06,3808.257282,140791.594951,11587.520657,6.384941e+06,11587.520657,3.134098
2,1,2015,35606.464847,11587.520657,3.134098,438.902859,189654.15856,1.513515e+06,2.490413e+06,1016.677195,66796.643483,11587.520657,6.384941e+06,11587.520657,3.134098
3,1,2015,35606.464847,11587.520657,3.134098,438.902859,189654.15856,1.513515e+06,2.490413e+06,56.454321,72964.811444,11587.520657,6.384941e+06,11587.520657,3.134098
4,1,2015,35606.464847,11587.520657,3.134098,438.902859,189654.15856,1.513515e+06,2.490413e+06,985.491937,120723.516528,11587.520657,6.384941e+06,11587.520657,3.134098